body.login{ 
	background: none repeat scroll 0 0 #000;
    font-family: "HelveticaNeue-CondensedBold","HelveticaNeueBoldCondensed","HelveticaNeue-Bold-Condensed","Helvetica Neue Bold Condensed","HelveticaNeueBold","HelveticaNeue-Bold","Helvetica Neue Bold","HelveticaNeue","Helvetica Neue","TeXGyreHerosCnBold","Helvetica","Tahoma","Geneva","Arial Narrow","Arial","sans-serif";
	#login-box { 
	    margin: 185px auto 0;
	    width: 235px;
	    input[type="text"],input[type="password"] {
		    border: 1px solid silver;
		    height: 22px;
		    margin: 0 0 5px;
		    padding: 0 3%;
		    width: 94%;
		}
		#btn_submit {
		    background: none repeat scroll 0 0 #666;
		    color: #e6e6e6; 
		    height: 30px;
		    line-height: 30px;
		    margin: 0 0 11px;
		    text-align: center;
		    text-decoration: none;
		    padding: 0 3%;
		    width: 100%;
		    border: 1px solid #666;
		    cursor:pointer;
		}
		
		.forgottenlink {
		    color: #999;
		    font-size: 13px;
		}
		
		.error{
			background-color: #FFBABA;background-image: url(/images/error.png);color: #D8000C;background-position: 10px center;background-repeat: no-repeat;border: 1px solid;margin: 5px 0;padding: 10px 5px 10px 50px;text-align: left;
		}
	}
}