<!doctype html>
<html ng-app='APP'>

<head>
	<meta name="description" content="Angular Nested recursive directives" />

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jqueryui.js"></script>
	<script src="js/angular1218.js"></script>
	<script src="js/angular-dragndrop.js"></script>
	<script src="js/esprima.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/init.js"></script>
	<script src="js/qb.js"></script>
	<style>

	</style>
</head>

<body>
<div ng-controller="QueryBuilderController">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4>Condition parameters</h4>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default" ng-repeat=" (key, value) in conditionParameters">
						<div class="panel-heading" role="tab" id="heading_{{ $index }}_key">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#_{{ $index }}_key" aria-expanded="true" aria-controls="collapseOne">
									{{ key }}
								</a>
							</h4>
						</div>
						<div id="_{{ $index }}_key" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ $index }}_key">
							<ul class="list-group">
								<li class="list-group-item btn btn-default conditionParameter" ng-repeat="(k, v) in value track by v.key" ng-controller="ConditionParameterController">
									<div ng-model="v" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: {{$index}},animate:true, placeholder: 'keep', onDrag: 'onConditionParameterDrag(conditionParameter)', onStop: 'onConditionParameterStop'}">{{v.Label}}</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<h4>Condition Builder</h4>

				<div class="panel-group cbuilderContainer" id="accordion2" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#Advanced" aria-expanded="true" aria-controls="collapseOne">
									Advanced
								</a>
							</h4>
						</div>
						<div id="Advanced" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body advancedPanel">
								<div class="alert">
									<code ng-bind-html="output" class="output_"></code>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#conditionbuilderPanel" aria-expanded="false" aria-controls="collapseTwo">
									Condition Builder
								</a>
							</h4>
						</div>
						<div id="conditionbuilderPanel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body conditionbuilderPanel">
								<div style="height: auto;" class="alert alert-warning alert-group conditionsList" data-drop="config.mainContainerDrop" ng-model="temp" jqyoui-droppable="{onDrop: 'onConditionDrop($index)', onOver:'onConditionOver', onOut:'onConditionOut'}" jqyoui-droppable="{index: {{$index}}}">
									<collection collection='group.rules' group='group' config='config' ></collection>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="memberInCollection.html">

	<ul class="collectionlist">
		<member ng-repeat='member in collection track by $index' member='member' group='group' config='config' ></member>

	</ul>

</script>

<script type="text/ng-template" id="member.html">
	<li>
		<div style="cursor: move;" class="oneNode" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="member" jqyoui-draggable="{animate:true, onStart: 'onInnerConditionStart()' , onDrag: 'onInnerConditionDrag', onStop: 'onInnerConditionStop'}">

			<div class="panel panel-default">
				<div class="panel-heading">
					{{ member.linkingLogicalOperator }} {{ member.Label }} {{ member.binaryConditionsDefault }} {{ member.value }}
					<span ng-if="member.extendedListParams.length > 0">
							, [
							<div ng-repeat="v in member.extendedListParams" style=" display: initial;">
								{{ v.Label }} {{ v.data }}
							</div>]
						</span>
				</div>
				<div class="panel-body">
					<div ng-switch="rule.hasOwnProperty('group')">
						<div ng-switch-when="true">
							<query-builder group="rule.group"></query-builder>
						</div>
						<div ng-switch-default="ng-switch-default">
							<div class="form-inline">
									<span ng-if="member.linkingLogicalOperator !== ''">
										<label class="">{{ member.linkingLogicalOperator }}</label>
									</span>
								<span ng-if="member.Type === 'string' || member.Type === 'integer'">

										<label class="form-control input-sm">{{ member.Label }}</label>
										<select style="margin-left: 5px" ng-options="c.name as c.name for c in member.binaryConditions" ng-model="member.binaryConditionsDefault" class="form-control input-sm"></select>
										<input style="margin-left: 5px" type="text" ng-model="member.value" class="form-control input-sm" />
										<button style="margin-left: 5px" ng-click="removeCondition(member.uid)" class="btn btn-sm btn-danger">
											x
										</button>
									</span>
								<span ng-if="member.Type === 'single'">

										<label class="form-control input-sm">{{ member.Label }}</label>
										<select style="margin-left: 5px" ng-options="c.name as c.name for c in member.binaryConditions" ng-model="member.binaryConditionsDefault" class="form-control input-sm"></select>
										<select style="margin-left: 5px" ng-options="c.value as c.label for c in member.listValues" ng-model="member.value" class="form-control input-sm"></select>
										<button style="margin-left: 5px" ng-click="removeCondition(member.uid)" class="btn btn-sm btn-danger">
											x
										</button>
									</span>
								<span ng-if="member.Type === 'single remote2' || member.Type === 'single remote'">
										<label class="form-control input-sm">{{ member.Label }}</label>
										<select style="margin-left: 5px" ng-options="c.name as c.name for c in member.binaryConditions" ng-model="member.binaryConditionsDefault" class="form-control input-sm"></select>
										<select style="margin-left: 5px" ng-options="c.value as c.label for c in member.listValues" ng-model="member.value" class="form-control input-sm"></select>
										<button style="margin-left: 5px" ng-click="removeCondition(member.uid)" class="btn btn-sm btn-danger">
											x
										</button>
									</span>

								<span ng-if="member.Type === 'bool'">
										<label class="form-control input-sm">{{ member.Label }}</label>
										<span class="center_cond">{{ member.binaryConditionsDefault }}</span>
										<input style="margin-left: 5px" type="checkbox" ng-model="member.value" class="form-control input-sm" />
										<button style="margin-left: 5px" ng-click="removeCondition(member.uid)" class="btn btn-sm btn-danger">
											x
										</button>
									</span>
								<span ng-if="member.Type === 'function'">
										<span ng-if="1">
											<label class="form-control input-sm">{{ member.Label }}</label>
											<span ng-if="member.ReturnValue !== 'bool'">
												<select style="margin-left: 5px" ng-options="c.name as c.name for c in member.binaryConditions" ng-model="member.binaryConditionsDefault" class="form-control input-sm"></select>
												<input style="margin-left: 5px" type="text" ng-model="member.value" class="form-control input-sm" />
											</span>
											<span ng-if="member.ReturnValue === 'bool'">
												<span class="center_cond">{{ member.binaryConditionsDefault }}</span>
												<input style="margin-left: 5px" type="checkbox" ng-model="member.value" class="form-control input-sm" />
											</span>

											<button style="margin-left: 5px" ng-click="removeCondition(member.uid)" class="btn btn-sm btn-danger">
												x
											</button>

											<div ng-repeat="v in member.extendedListParams" class="condition">
												<span ng-if="v.Label !== ''">
													<label class="form-control input-sm">{{ v.Label }}</label>
												</span>

												<span ng-if="v.Type === 'integer' || v.Type === 'string'">
													<input style="margin-left: 5px" type="text" ng-model="v.data" class="form-control input-sm" />
												</span>
												<span ng-if="v.Type === 'bool'">
													<input style="margin-left: 5px" type="checkbox" ng-model="v.data" class="form-control input-sm" />
												</span>
												<span ng-if="v.Type === 'single'">
													<select style="margin-left: 5px" ng-model="v.data" class="form-control input-sm">
														<option ng-repeat="c in v.Values" value="{{c.Value}}">{{c.Label}}</option>
													</select>
												</span>
												<span ng-if="v.Type === 'lookup'">
													<input style="margin-left: 5px" type="text" ng-model="v.data" class="form-control input-sm" />
												</span>
												<span ng-if="v.Type === 'superboxselect'">
													<input style="margin-left: 5px" type="button" value="Select" ng-model="" class="form-control input-sm" />
												</span>
												<span ng-if="v.Type === 'single remote2' || v.Type === 'single remote3'">
													<select style="margin-left: 5px" ng-model="v.data" class="form-control input-sm">
														<option ng-repeat="c in v.Values" value="{{c.Value}}">{{c.Label}}</option>
													</select>
												</span>
											</div>

										</span>
									</span>
							</div>
						</div>
						<div ng-hide="config.hideConditionLogicalOperators" class="well or condition_" data-drop="true" ng-model="temp" jqyoui-droppable="{onDrop: 'onConditionDrop($index)', onOver:'onConditionOver', onOut:'onConditionOut'}" jqyoui-droppable="{index: {{$index}}}">or</div>
						<div ng-hide="config.hideConditionLogicalOperators" class="well and condition_" data-drop="true" ng-model="temp" jqyoui-droppable="{onDrop: 'onConditionDrop', onOver:'onConditionOver', onOut:'onConditionOut'}" jqyoui-droppable="{index: {{$index}}}">and</div>
					</div>
				</div>

			</div>
			<span ng-if="member.rules.length > 0">
					<div ng-hide="config.hideLogicalRelations"  ng-style="{top: member.styles.and.line.top, left: member.styles.and.line.left, height: member.styles.and.line.height, index: 100}"  class="cbuilder-line-and2"></div>
					<div ng-hide="config.hideLogicalRelations" ng-style="{top: member.styles.and.line.top, left: member.styles.and.icon.left}"  class="cbuilder-and2-icon"></div>
				</span>
			<span ng-if="member.styles.or.isEnabled === true">
					<div ng-hide="config.hideLogicalRelations" ng-style="{top: member.styles.or.line.lineUpper.top, left: member.styles.or.line.lineUpper.left, width: member.styles.or.line.lineUpper.width}"  class="cbuilder-line-or"></div>
					<div ng-hide="config.hideLogicalRelations" ng-style="{top: member.styles.or.line.lineLower.top, left: member.styles.or.line.lineLower.left, width: member.styles.or.line.lineLower.width}"  class="cbuilder-line-or"></div>
					<div ng-hide="config.hideLogicalRelations"  ng-style="{top: member.styles.or.line.lineMiddle.top, left: member.styles.or.line.lineMiddle.left, height: member.styles.or.line.lineMiddle.height}" class="cbuilder-line-or"></div>
					<div ng-hide="config.hideLogicalRelations" ng-style="{top: member.styles.or.icon.top, left: member.styles.or.icon.left}"  class="cbuilder-or-icon"></div>
				</span>

		</div>




	</li>

</script>



</body>

</html>
