.manage-header{
    h2{
        padding : 0 ;
        margin : 0 ;
    }
    padding : 0 0 15px 0 ;
}

.widget{
    form{
        padding : 15px 0 ;
        .product-image-widget{
            position : relative ;
            &.default{
                border : 1px solid blue ;
            }
            float:left ;
            margin-left : 10px ;
            .delete{
                display : none ;
                color : white ;
                position : absolute ;
                top : 5px ;
                right : 5px ;

            }&:hover{
               .delete{
                    display : block ;
               }
            }
        }
    }
}


#content{
  .breadcrumb > li + li::before {
      color: #ccc;
      content: "/ ";
      padding: 0 5px;
  }
}
