body.login {
  background: none repeat scroll 0 0 #000;
  font-family: "HelveticaNeue-CondensedBold","HelveticaNeueBoldCondensed","HelveticaNeue-Bold-Condensed","Helvetica Neue Bold Condensed","HelveticaNeueBold","HelveticaNeue-Bold","Helvetica Neue Bold","HelveticaNeue","Helvetica Neue","TeXGyreHerosCnBold","Helvetica","Tahoma","Geneva","Arial Narrow","Arial","sans-serif"; }
  body.login #login-box {
    margin: 185px auto 0;
    width: 235px; }
    body.login #login-box input[type="text"], body.login #login-box input[type="password"] {
      border: 1px solid silver;
      height: 22px;
      margin: 0 0 5px;
      padding: 0 3%;
      width: 94%; }
    body.login #login-box #btn_submit {
      background: none repeat scroll 0 0 #666;
      color: #e6e6e6;
      height: 30px;
      line-height: 30px;
      margin: 0 0 11px;
      text-align: center;
      text-decoration: none;
      padding: 0 3%;
      width: 100%;
      border: 1px solid #666;
      cursor: pointer; }
    body.login #login-box .forgottenlink {
      color: #999;
      font-size: 13px; }
    body.login #login-box .error {
      background-color: #FFBABA;
      background-image: url(/images/error.png);
      color: #D8000C;
      background-position: 10px center;
      background-repeat: no-repeat;
      border: 1px solid;
      margin: 5px 0;
      padding: 10px 5px 10px 50px;
      text-align: left; }

[class^="icone-"], [class*=" icone-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit; }

.icone-cogs:before {
  content: "\f085"; }

.icone-dashboard:before {
  content: "\f015"; }

.icone-content:before {
  content: "\f0f6"; }

.icone-caret-down:before {
  content: "\f0d7"; }

.icone-caret-up:before {
  content: "\f0d8"; }

.icone-caret-left:before {
  content: "\f0d9"; }

.icone-caret-right:before {
  content: "\f0da"; }

.icone-angle-left:before {
  content: "\f104"; }

.icone-angle-right:before {
  content: "\f105"; }

.icone-angle-up:before {
  content: "\f106"; }

.icone-angle-down:before {
  content: "\f107"; }

.icon-bar-chart:before {
  content: "\f080"; }

.icon-list-ul:before {
  content: "\f0ca"; }

.icon-euro:before, .icon-eur:before {
  content: "\f153"; }

.icon-power-off:before, .icon-off:before {
  content: "\f011"; }

.icon-traker:before {
  content: url('../images/tracker_icon2.gif'); }

.icon-flask:before, .icon-flask:before {
  content: "\f0c3"; }

.icon-segment:before {
  content: url('../images/segment.png'); }

.icone-group:before {
  content: "\f0c0"; }

body.ui {
  margin: 0;
  padding: 0;
  background: none repeat scroll 0 0 #555555;
  color: #555;
  font-family: 'arial';
  font-size: 0.75em; }
  body.ui a, body.ui a:hover {
    text-decoration: none; }
  body.ui li {
    line-height: 20px; }
  body.ui .collapse {
    height: 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: height 0.35s ease 0s;
            transition: height 0.35s ease 0s; }
  body.ui .header {
    background: none repeat scroll 0 0 #fdfdfd;
    border-bottom: 2px solid #ddd;
    display: block;
    min-height: 50px;
    position: relative;
    width: auto; }
    body.ui .header .logo {
      color: #fff;
      float: left;
      padding: 5px 0 0 5px; }
      body.ui .header .logo a {
        display: inline-block; }
    body.ui .header .loginbar {
      color: #666;
      float: right;
      margin: 15px 10px 0 0; }
      body.ui .header .loginbar a {
        color: black;
        font-size: 1.125em;
        font-weight: bold;
        text-decoration: none; }
        body.ui .header .loginbar a .icon {
          color: #adb2b2;
          font-size: 1.5em; }
          body.ui .header .loginbar a .icon:hover {
            color: black; }
  body.ui.x-body .sidebar {
    top: 50px;
    float: left;
    position: relative;
    top: 0 !important; }
  body.ui.x-body #main {
    margin: 0 0 0 220px; }
  body.ui .sidebar {
    background: #555;
    bottom: 0;
    left: 0;
    top: 52px;
    position: absolute;
    height: 100%;
    width: 220px; }
    body.ui .sidebar div#account-selector {
      background: #e5e5e5;
      line-height: 17px;
      display: block;
      position: relative;
      color: #333333;
      font-size: 17px; }
      body.ui .sidebar div#account-selector select {
        width: 100%;
        background: #e5e5e5;
        border: 0px solid #ccc; }
      body.ui .sidebar div#account-selector #account-main {
        padding: 7px;
        cursor: pointer;
        font-weight: 700; }
      body.ui .sidebar div#account-selector .arrow {
        position: absolute;
        right: 18px; }
      body.ui .sidebar div#account-selector ul {
        background: inherit;
        width: 100%;
        z-index: 10;
        position: absolute;
        display: none;
        margin: 0;
        padding: 0;
        list-style: none; }
        body.ui .sidebar div#account-selector ul li {
          padding: 7px;
          cursor: pointer; }
          body.ui .sidebar div#account-selector ul li:hover {
            color: #99CC00; }
    body.ui .sidebar #nav {
      margin-bottom: 36px;
      position: relative;
      color: white; }
      body.ui .sidebar #nav ul {
        background: #515151;
        display: block;
        margin: 0;
        padding: 0; }
        body.ui .sidebar #nav ul li {
          display: block;
          list-style: none outside none; }
          body.ui .sidebar #nav ul li.divider {
            background-color: #666666;
            border-bottom: 1px solid #4C4C4C;
            border-top: 1px solid #777777;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
            color: #EEEEEE;
            padding: 0 10px;
            position: relative;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
            text-transform: uppercase; }
          body.ui .sidebar #nav ul li.accordion-group {
            background-color: transparent;
            border: medium none;
            box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.06) inset;
            border-radius: 0 0 0 0;
            margin-bottom: 0; }
            body.ui .sidebar #nav ul li.accordion-group.singlerow {
              background-color: #5E5E5E; }
          body.ui .sidebar #nav ul li.active a {
            color: white; }
            body.ui .sidebar #nav ul li.active a:before {
              border-left: 3px solid #99CC00;
              bottom: 0;
              content: "";
              left: 0;
              position: absolute;
              top: 0; }
          body.ui .sidebar #nav ul li a {
            border-bottom: 1px solid #494949;
            color: #AAAAAA;
            display: block;
            outline: medium none;
            position: relative;
            text-decoration: none;
            text-shadow: 0 -1px 0 #444444;
            -webkit-transition: all 0.3s ease 0s;
                    transition: all 0.3s ease 0s; }
            body.ui .sidebar #nav ul li a:hover {
              background: #515151;
              color: white; }
            body.ui .sidebar #nav ul li a .icon {
              display: inline-block;
              line-height: 16px;
              margin: 14px 10px; }
            body.ui .sidebar #nav ul li a .text {
              display: inline-block;
              margin: 10px 10px 10px 0; }
            body.ui .sidebar #nav ul li a .arrow {
              display: block;
              position: absolute;
              right: 18px;
              top: 13px; }
          body.ui .sidebar #nav ul li ul {
            background-color: #5E5E5E;
            box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.25) inset, 0 -5px 6px -5px rgba(0, 0, 0, 0.2) inset;
            display: block;
            margin: 0; }
            body.ui .sidebar #nav ul li ul li {
              display: block;
              list-style: none outside none;
              position: relative;
              height: 36px; }
              body.ui .sidebar #nav ul li ul li a {
                border-bottom: 1px solid #555555;
                border-top: 1px solid #666666;
                color: #DDDDDD;
                display: block;
                padding: 7px 10px 7px 34px;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
                -webkit-transition: color 0.3s ease 0s;
                        transition: color 0.3s ease 0s; }
                body.ui .sidebar #nav ul li ul li a:active, body.ui .sidebar #nav ul li ul li a:hover {
                  color: #99CC00;
                  background-color: #5E5E5E; }
                body.ui .sidebar #nav ul li ul li a .icon {
                  display: inline-block;
                  font-size: 0.5em;
                  margin: 0 3px 0 0;
                  vertical-align: middle; }
                body.ui .sidebar #nav ul li ul li a:before {
                  border-left: 0px !important; }
              body.ui .sidebar #nav ul li ul li:first-child > a {
                border-top: medium none;
                box-shadow: none; }
              body.ui .sidebar #nav ul li ul li.active a {
                color: #99CC00; }
  body.ui #main {
    background: none repeat scroll 0 0 white;
    margin: 0 0 0 220px;
    overflow: hidden; }
    body.ui #main .navbar {
      line-height: 20px; }
      body.ui #main .navbar:before, body.ui #main .navbar:after {
        content: "";
        display: table;
        line-height: 0; }
      body.ui #main .navbar:after {
        clear: both; }
      body.ui #main .navbar .navbar-inner {
        background: #EDEDED;
        padding: 0 0 0 20px;
        border-bottom: 1px solid #d2d2d2; }
      body.ui #main .navbar .breadcrumb {
        background-color: transparent;
        display: inline-block;
        margin: 5px 0;
        padding: 0;
        list-style: none outside none; }
        body.ui #main .navbar .breadcrumb li {
          display: inline-block;
          text-shadow: 0 1px 0 #FFF; }
          body.ui #main .navbar .breadcrumb li .divider {
            padding: 0 5px;
            background-image: url("../images/arrow_right.png");
            background-position: center center;
            background-repeat: no-repeat;
            display: inline-block;
            height: 9px;
            width: 5px; }
          body.ui #main .navbar .breadcrumb li a {
            color: #999999;
            -webkit-transition: color 0.3s ease 0s;
                    transition: color 0.3s ease 0s; }
          body.ui #main .navbar .breadcrumb li.active {
            color: #99CC00; }
    body.ui #main .container-fluid {
      margin: 10px 8px 10px 8px;
      border: 1px gainsboro solid;
      padding: 4px 5px 4px 5px;
      background: #f1f1f1; }
      body.ui #main .container-fluid:before, body.ui #main .container-fluid:after {
        content: "";
        display: table;
        line-height: 0; }
      body.ui #main .container-fluid:after {
        clear: both; }
      body.ui #main .container-fluid .header-content {
        font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
        font-weight: 600;
        font-stretch: condensed;
        font-size: 24px;
        font-weight: bold; }
  body.ui #footer {
    -moz-box-sizing: border-box;
    background-color: #555;
    bottom: 0;
    position: fixed;
    color: #AAAAAA;
    display: none;
    padding: 8px 10px 8px 230px;
    height: 40px;
    width: 100%;
    z-index: 999; }
    body.ui #footer:before {
      clear: both; }
    body.ui #footer p {
      padding: 0;
      margin: 0; }

.container-fluid .x-accordion-item .x-accordion-hd {
  background: none repeat scroll 0 0 #e3e3e3; }
.container-fluid .x-panel-body-default {
  background: none repeat scroll 0 0 #fafafa; }
.container-fluid .x-panel-header-default {
  background-color: #F8F8F8;
  border: 1px solid #e3e3e3; }
.container-fluid .x-panel-body-default {
  border-color: #e3e3e3; }
.container-fluid .x-panel-header-text-container-default {
  color: #666666; }
.container-fluid #main-content {
  /*
		.x-btn-default-small{
			background-color: rgb(215,229,215) ; 
			background-image: none ; 
			border-color: rgb( 218,218,218 ) ; 
			.x-btn-inner{
				color : rgb(76,136,76) ; 	
			}
		}
		
		.x-btn-default-small-over{
			background-color: rgb(195,229,195) ; 	
		}
	*/ }
  .container-fluid #main-content .x-panel-header {
    background: none repeat scroll 0 0 #e3e3e3; }

.x-body .x-window-default {
  border-color: #999999; }
.x-body .x-window-default-plain .x-panel-header-default {
  background-color: #999; }
.x-body .x-window-header-default-top {
  background-color: #999999; }
.x-body .x-window-header-default {
  border-color: #999999; }
  .x-body .x-window-header-default .x-tool-img {
    background-color: #999999; }
.x-body .x-btn-default-toolbar-small-icon .x-btn-icon-el {
  width: 32px;
  height: 34px; }
.x-body .x-btn-default-toolbar-small {
  background-image: none;
  border-color: white;
  padding: 0 3px; }
  .x-body .x-btn-default-toolbar-small:hover {
    border-color: #E1E1E1; }
.x-body .x-toolbar-footer {
  background: none repeat scroll 0 0 #e3e3e3; }
.x-body .x-window-body-default {
  border-color: #e3e3e3; }
.x-body .x-btn-default-small.monoloop-submit-form {
  background-color: #606364;
  background-image: none;
  border-color: #606364; }
.x-body .x-btn.tabcreate2-btn {
  background-color: #F8F8F8;
  background-image: none;
  border: none; }
  .x-body .x-btn.tabcreate2-btn .x-btn-inner {
    color: #333333; }
.x-body .monoloop-folder-tree .x-btn-default-toolbar-small-icon button {
  width: 34px !important; }
.x-body .x-panel .x-tab-bar-body {
  border: 1px solid #D0D0D0; }
.x-body .x-panel .x-tab-bar-body-default-top {
  padding: 0; }
.x-body .x-panel .x-tab-default-active {
  background-color: #F8F8F8; }
  .x-body .x-panel .x-tab-default-active .x-tab-inner {
    color: #333333; }
.x-body .x-panel .x-tab-default-top {
  border-radius: 0 0 0 0;
  padding: 6px 6px 6px;
  border-right: 1px solid #D0D0D0; }
.x-body .x-panel .x-tab-bar-strip-default {
  background-color: #F8F8F8; }
.x-body .x-progress-default .x-progress-bar-default {
  background-color: #F8F8F8; }
.x-body .x-panel-header-default .x-tool-img {
  background-color: #D0D0D0; }
.x-body .monoloop-folder-tree .x-panel-header-default .x-tool-img {
  background-color: white; }
.x-body .x-panel-header-vertical .x-tool-img {
  background-color: white; }
.x-body .x-splitter-default {
  background-color: #F8F8F8; }
.x-body .x-window .x-splitter-default {
  background-color: #e3e3e3; }
.x-body .x-fieldset {
  padding: 0 10px 10px 10px; }
.x-body .x-grid-cell-inner {
  padding: 0 10px;
  line-height: 25px; }
.x-body .x-message-box .x-toolbar-footer .x-btn-default-small {
  background-color: #606364;
  background-image: none;
  border-color: #606364; }
.x-body .x-border-layout-ct {
  background-color: #FFF; }
.x-body .x-form-checkboxgroup-body {
  padding: 0; }

.placement-active {
  background: url("/images/active.gif") no-repeat scroll 0 0 transparent;
  height: 22px;
  width: 66px; }
  .placement-active:hover {
    background: url("/images/active_hover.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer; }

.placement-inactive {
  background: url("/images/inactive.gif") no-repeat scroll 0 0 transparent;
  height: 22px;
  width: 66px; }
  .placement-inactive:hover {
    background: url("/images/inactive_hover.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer; }

.placement-property {
  background: url("/images/properties.gif") no-repeat scroll 0 0 transparent;
  height: 22px;
  width: 28px; }
  .placement-property:hover {
    background: url("/images/properties_hover.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer; }

.placement-delete {
  background: url("/images/trash.gif") no-repeat scroll 0 0 transparent;
  height: 22px;
  width: 28px; }
  .placement-delete:hover {
    background: url("/images/trash_hover.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer; }
