$theme-name: 'gray';
$base-color: #ccc;

//panel
$panel-header-background-gradient: color-stops(#F0F0F0, #D7D7D7);
$panel-border-color: #D0D0D0;
$panel-header-color: #333;

$panel-frame-background-color: #f1f1f1;

//window
$window-background-color: #e8e8e8;
$window-header-color: #333;

//menu
$menu-item-active-background-color: darken(#f3f3f3, 5);
$menu-item-active-border-color: #9d9d9d;

//datepicker
$datepicker-header-background-color: #6f6f6f;
$datepicker-border-color: #585858;
$datepicker-th-background-color: #e9e9e9;
$datepicker-selected-item-background-color: #d8d8d8;
$datepicker-item-hover-background-color: transparent;

//progress bar
$progress-border-color: #8e8e8e;
$progress-background-color: #f1f1f1;
$progress-bar-background-color: #ababab;

//tips
$tip-base-color: $base-color;

//grid
$grid-header-over-border-color: darken($base-color, 3);

//toolbar
$toolbar-background-gradient: color-stops(#e6e6e6, #efefef);
$toolbar-separator-color: #aca899;
$toolbar-text-color: #000;

//form
$fieldset-header-color: #333;

$boundlist-border-color: #b5b8c8;

//acordion
$accordion-header-background-color: #e5e5e5;

//tabs
$tab-base-color: #eaeaea;
$tab-color-active: #333333;

$tab-background-gradient: color-stops(#dcdcdc, #eaeaea);
$tab-background-gradient-over: 'tab-over' !default;
$tab-background-gradient-active: color-stops(#ffffff, #eaeaea);
$tab-background-gradient-disabled: 'tab-disabled' !default;

//buttons
$button-default-base-color: #f8f8f8;
$button-default-base-color-over: #f3f3f3;
$button-default-base-color-focus: $button-default-base-color-over;
$button-default-base-color-pressed: #d6d6d6;
$button-default-base-color-disabled: adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%) !default; //F7F7F7

$button-default-border-color: #bbbbbb;
$button-default-border-color-over: #9d9d9d;
$button-default-border-color-focus: $button-default-border-color-over;
$button-default-border-color-pressed: $button-default-border-color-over;
$button-default-border-color-disabled: adjust-color($button-default-base-color-disabled, $hue: 0deg, $saturation: 0%, $lightness: -8.627%) !default;

$button-default-background-gradient: 'matte';
$button-default-background-gradient-over: 'matte';
$button-default-background-gradient-focus: 'matte';
$button-default-background-gradient-pressed: 'matte-reverse';
$button-default-background-gradient-disabled: 'matte';

$button-default-background-gradient-color-stops: null;
$button-default-background-gradient-color-stops-over: null;
$button-default-background-gradient-color-stops-focus: null;
$button-default-background-gradient-color-stops-pressed: null;
$button-default-background-gradient-color-stops-disabled: null;


$button-toolbar-base-color: $button-default-base-color;

$button-toolbar-border-color: transparent !default;
$button-toolbar-border-color-over: $button-default-border-color-over;
$button-toolbar-border-color-focus: $button-default-border-color-focus;
$button-toolbar-border-color-pressed: $button-default-border-color-pressed;
$button-toolbar-border-color-disabled: $button-default-border-color-disabled;

$button-toolbar-background-color: transparent !default;
$button-toolbar-background-color-over: $button-default-base-color-over;
$button-toolbar-background-color-focus: $button-default-base-color-focus;
$button-toolbar-background-color-pressed: $button-default-base-color-pressed;
$button-toolbar-background-color-disabled: transparent;

$button-toolbar-background-gradient: null;
$button-toolbar-background-gradient-over: 'matte';
$button-toolbar-background-gradient-focus: 'matte';
$button-toolbar-background-gradient-pressed: 'matte-reverse';
$button-toolbar-background-gradient-disabled: null;

$button-toolbar-background-gradient-color-stops: null;
$button-toolbar-background-gradient-color-stops-over: null;
$button-toolbar-background-gradient-color-stops-focus: null;
$button-toolbar-background-gradient-color-stops-pressed: null;
$button-toolbar-background-gradient-color-stops-disabled: null;



@import 'compass';
@import 'ext4/default/all';
 

.MainPanel .x-tab-bar-strip {
    top: 28px !important; /* Default value is 20, we add 20 = 40 */
}

.MainPanel .x-tab-bar .x-tab-bar-body {
    height: 31px !important; /* Default value is 23, we add 20 = 43 */
    border : 1px solid #C1C1C1 !important;  
}

.MainPanel .x-tab-bar .x-tab-bar-body .x-box-inner {
    height: 29px !important; /* Default value is 21, we add 20 = 41 */
}

.MainPanel .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab {
    height: 29px !important; /* Default value is 21, we add 20 = 41 */
}

.MainPanel .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab button {
    height: 21px !important; /* Default value 13, we add 20 = 33 */
    line-height: 21px !important; /* Default value 13, we add 20 = 33 */
}

.MainPanel{
	.x-tab-default-top{
		border : none ; 	
		border-radius : 0  ; 
	}
	
	.x-tab-default{
		border-right : 1px solid #C1C1C1 ; 	
		margin : 0 0 0 -2px ; 
	}
	
	.x-box-inner{
		 
	}
	
	
}

.tabcreate2-btn{
	&.x-btn-default-small{
		border-radius : 0  ; 
		border-left : none ; 
		border-top : none ;  
		border-buttom : none ; 
	}
}

.search-btn{
	&.x-btn-default-small{
		border-radius : 0  ; 
		border : none ; 
	}
}
 