body {
  text-align: left;
  /*fix center IE5 part 1/2*/
  margin: 0px;
  padding: 0px; }

#content-editor-window .x-window-mc {
  background-color: white; }

#content-element-form {
  font: 12px; }

#content-element-form .x-panel-body {
  background-color: #e7ecf3;
  border: 1px solid #b8c6dc;
  border-radius: 5px; }

.x-tab-strip-inner {
  padding-top: 2px;
  padding-bottom: 3px; }

.pw-back-buton {
  background-image: url("/images/back_t.GIF"); }

.pw-forword-buton {
  background-image: url("/images/forward_t.GIF"); }

.pw-refresh-buton {
  background-image: url("/images/refresh_t.GIF"); }

.pw-menu-property {
  background-image: url("/images/cog.png"); }

.pw-condition-property {
  background-image: url("/images/addcondition.gif");
  width: 25px !important; }

.pw-browe-bth .x-btn-text {
  width: 50px; }

.pw-go-buton {
  background-image: url("/images/go_t.GIF"); }

.pw-menu-inspect-content {
  background-image: url("/images/magnifier.png"); }

.pw-menu-delete-content {
  background-image: url("/images/trash.gif"); }

.upload-icon {
  background-image: url("/images/folder_add.png"); }

.ml-btn button.x-btn-text {
  background-image: url("/images/addcondition.gif");
  width: 30px !important; }

.ml-btn2 .x-btn-text {
  background-image: url("/images/showconditions.gif") !important;
  width: 28px !important; }

.ml-btn3 .x-btn-text {
  background-image: url("/images/showcondition.gif") !important;
  width: 25px !important; }

.ml-btn5 .x-btn-text {
  background-image: url("/images/hidecondition.gif") !important;
  width: 25px !important; }

.ml-btn6 .x-btn-text {
  background-image: url("/images/assets_icon.png") !important;
  width: 27px !important; }

.ml-btn4 .x-btn-text {
  background-image: url("/images/info.GIF"); }

.ces-window {
  background: #efeff4;
  padding: 6px; }

.ces-window .x-resizable-handle-north, .ces-window .x-resizable-handle-south, .ces-window .x-resizable-handle-east, .ces-window .x-resizable-handle-west {
  background: #efeff4; }

.ces-window-header-icon {
  background: url("/images/CES_01.png") no-repeat left top; }

.ces-window-header {
  padding-left: 25px;
  padding-bottom: 10px; }

.ces-window-header .x-tool-close, .ces-window-header .x-tool-close-over {
  background-image: url("/images/tool_close.png");
  background-position: 0 0; }

.ces-window-header .x-tool-maximize, .ces-window-header .x-tool-maximize-over {
  background-image: url("/images/tool_maximize.png");
  background-position: 0 0; }

.ces-window-header .x-tool-restore, .ces-window-header .x-tool-restore-over {
  /* This need to be chnage to restore icon */
  background-image: url("/images/tool_maximize.png");
  background-position: 0 0; }

.ces-window-header-text {
  color: #15428B;
  font: bold 11px tahoma,arial,verdana,sans-serif;
  cursor: move; }

.preplaced-window {
  overflow: auto;
  padding: 10px; }

.preplaced-window .x-panel {
  margin-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px #E1E1E1 solid; }

.preplaced-window .x-panel-header {
  background: none;
  border: none; }

.preplaced-window .x-tool {
  float: left;
  background: none; }

.preplaced-window .x-panel-header-text {
  padding-left: 15px; }

.preplaced-window .x-panel-collapsed .x-tool-toggle {
  background-image: url("/images/nolines_plus.gif");
  background-position: 0 0; }

.preplaced-window .x-tool-toggle {
  background-image: url("/images/nolines_minus.gif");
  background-position: 0 0; }

.preplaced-window .x-panel-body {
  background: none;
  border: none; }

.cse-panel-body {
  padding-top: 10px;
  padding-left: 23px;
  padding-right: 10px;
  /*background:  rgb(239,239,244)    ;*/ }

.cse-text, .cse-panel-body label {
  font: 11px tahoma,arial,verdana,sans-serif; }

.cse-panel-body label {
  font: bold 11px tahoma,arial,verdana,sans-serif;
  padding-bottom: 5px;
  padding-top: 10px; }

#cse-name, #cse-selector, #cse-template-combo {
  width: 200px; }

.cef-input .x-form-text, .cef-input .x-form-textarea {
  width: 280px; }

.cef-textarea {
  width: 290px;
  overflow: auto; }

.cef-textarea2 {
  /*width: 630px;*/
  overflow: auto; }

/* File Upload */
.x-form-file-wrap {
  position: relative;
  height: 22px; }

.x-form-file-wrap .x-form-file {
  position: absolute;
  right: 0;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 2;
  height: 22px; }

.x-form-file-wrap .x-form-file-btn {
  position: absolute;
  right: 0;
  z-index: 1; }

.x-form-file-wrap .x-form-file-text {
  position: absolute;
  left: 0;
  z-index: 3;
  color: #777; }

.msg .x-box-mc {
  font-size: 14px; }

#msg-div {
  position: absolute;
  left: 35%;
  top: 10px;
  width: 250px;
  z-index: 30000; }

#msg-div-2 {
  position: absolute;
  left: 0%;
  top: 10px;
  width: 550px;
  z-index: 30000; }

.contentGrid tbody tr:hover {
  background-color: #FDF2E1; }

.orange-text {
  color: #F3B53F; }

.testbench-field-group {
  margin-top: 10px;
  margin-left: 10px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border: 2px solid #CF761D;
  background-color: #FFFAF4;
  padding: 7px;
  padding-left: 10px; }

.testbench-field-group h2 {
  color: #FFA537;
  font-weight: bold;
  padding-bottom: 5px; }

.testbench-field-group .field-label {
  padding-top: 5px;
  font-weight: bold; }

.testbench-field-group2 {
  margin-top: 10px;
  margin-left: 10px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border: 2px solid #4456F7;
  background-color: #D9F8FD;
  padding: 7px;
  padding-left: 10px; }

.testbench-field-group2 h2 {
  color: #6C7AF9;
  font-weight: bold;
  padding-bottom: 5px; }

.cse-panel-body2 {
  margin-top: 10px;
  background: #efeff4; }

.ml-collab-panel .x-tool {
  float: left;
  background: none; }

.ml-collab-panel-header-text {
  padding-left: 15px; }

.ml-collab-panel .x-tool-toggle {
  background-image: url("/images/nolines_minus.gif");
  background-position: 0 0; }

.ml-collab-panel-colapse .x-tool-toggle {
  background-image: url("/images/nolines_plus.gif");
  background-position: 0 0; }

.x-panel-collapsed-text {
  margin-top: 10px;
  margin-left: 5px;
  color: #15428B;
  font-family: tahoma,arial,verdana,sans-serif;
  font-size: 11px;
  font-weight: bold; }

.ce-checkbox label {
  display: none; }

.toolbar-label {
  float: left; }

.toolbar-btn {
  margin-left: 10px;
  float: left;
  background: url("/images/toolbar-btm-icon.png") no-repeat;
  width: 15px;
  height: 12px; }

.monoloopBorder, .monoloopBorderFix {
  border: #de8d03 3px dotted !important; }

.speech-bubble, .speech-bubble:hover {
  position: absolute;
  margin: 0 0;
  padding-top: 2px;
  width: 26px;
  height: 20px;
  background-image: url("/images/bubble_off.gif");
  font-size: 9px;
  cursor: pointer;
  z-index: 9999;
  text-align: center;
  color: white;
  font-weight: bold; }

.speech-bubble:hover {
  background-image: url("/images/bubble_on.gif"); }

.ml-border {
  position: absolute;
  background-color: #de8d03;
  z-index: 9000; }

.ml-borderb {
  position: absolute;
  background-color: blue;
  z-index: 8999; }

.ml-borderb2 {
  position: absolute;
  z-index: 8999; }

.ml-border-product {
  position: absolute;
  background-color: blue;
  z-index: 9001; }

.ml-border-row {
  position: absolute;
  background-color: green;
  z-index: 9002; }

.ml-border-col {
  position: absolute;
  background-color: #EAEC91;
  z-index: 9003; }

#ml-cart-table-select .l1 {
  position: absolute;
  background-color: #BECFF8;
  padding: 3px;
  margin: 3px;
  border: 1px solid black; }

#ml-cart-table-select .l2 {
  position: absolute;
  background-color: #8AFFC5;
  padding: 3px;
  margin: 3px;
  border: 1px solid black; }

#ml-cart-table-select .l3 {
  position: absolute;
  background-color: #FFFFCE;
  padding: 3px;
  margin: 3px;
  border: 1px solid black; }

#ml-cart-table-select .l4 {
  position: absolute;
  background-color: #FFFFCE;
  padding: 3px;
  margin: 3px;
  border: 1px solid black; }

#ml-cart-table-select .l5 {
  position: absolute;
  background-color: #FFFFCE;
  padding: 3px;
  margin: 3px;
  border: 1px solid black; }

#ml-cart-table-select .l6 {
  position: absolute;
  background-color: #FFFFCE;
  padding: 3px;
  margin: 3px;
  border: 1px solid black; }

.ml-border-p1 {
  position: absolute;
  border: 3px solid #FBC491;
  z-index: 900; }

.ml-border-p1:hover {
  position: absolute;
  border: 3px solid #de8d03;
  z-index: 900; }

#ml-cart-table-select div {
  z-index: 900; }

.ml-mapped-label {
  font-size: 9px;
  font-style: italic;
  position: absolute;
  background-color: #E7E9FE;
  z-index: 8999; }

/* t3p_dynamic_content_placement/res/css/sass/style.scss */
.x-form-file-wrap {
  position: relative;
  height: 22px; }

.x-form-file-wrap .x-form-file {
  position: absolute;
  right: 0;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 2;
  height: 22px; }

.x-form-file-wrap .x-form-file-btn {
  position: absolute;
  right: 0;
  z-index: 1; }

.x-form-file-wrap .x-form-file-text {
  position: absolute;
  left: 0;
  z-index: 3;
  color: #777; }

#lm-search-content {
  padding: 10px; }

#lm-search-content h3 {
  font-size: 12px; }

#lm-search-content td {
  padding-bottom: 2px;
  text-align: left; }

#lm-search-content select {
  width: 120px; }

#lm-search-content .x-form-field-wrap {
  float: left; }

.table_date {
  border: #99bbe8 solid 2px;
  background-color: #ccd9e8;
  padding: 10px; }

/* Nut top tap */
.clear-line {
  clear: both;
  line-height: 0;
  height: 0; }

a.newsletter-tab1 {
  background: transparent url("/images/tab1_02.gif") no-repeat scroll top right;
  color: #444;
  float: left;
  font: bold 11px Sans-serif, Lucida Console;
  height: 26px;
  margin-right: 6px;
  padding-right: 18px;
  /* sliding doors padding */
  text-decoration: none; }

a.newsletter-tab1 span {
  background: transparent url("/images/tab1_01.gif") no-repeat;
  display: block;
  line-height: 16px;
  padding: 5px 0 5px 18px; }

a.newsletter-tab2 {
  background: transparent url("/images/tab2_02.gif") no-repeat scroll top right;
  color: #5baaf5;
  float: left;
  font: bold 11px Sans-serif, Lucida Console;
  height: 26px;
  margin-right: 6px;
  padding-right: 18px;
  /* sliding doors padding */
  text-decoration: none; }

a.newsletter-tab2 span {
  background: transparent url("/images/tab2_01.gif") no-repeat;
  display: block;
  line-height: 16px;
  padding: 5px 0 5px 18px; }

a.newsletter-tab2 span.new-symbol {
  background: transparent url("/images/new_sym.gif") no-repeat;
  float: left;
  line-height: auto;
  padding: 0 5px 0 0;
  width: 16px; }

a.newsletter-tab2 span.delete-symbol {
  background: transparent url("/images/trash.gif") no-repeat;
  float: left;
  line-height: auto;
  padding: 0 5px 0 0;
  width: 16px; }

a.newsletter-tab2 span.edit-symbol {
  background: transparent url("/images/pencil.gif") no-repeat;
  float: left;
  line-height: auto;
  padding: 0 5px 0 0;
  width: 16px; }

.tree-button .x-btn-text {
  width: 32px !important; }

.new-symbol1 {
  background-image: url("/images/folderADD.GIF") !important; }

.delete-symbol1 {
  background-image: url("/images/folderDELETE.GIF") !important; }

.edit-symbol1 {
  background-image: url("/images/folderEDIT.GIF") !important; }

a.newsletter-tab2 span.job-symbol {
  background: transparent url("/images/job.gif") no-repeat;
  float: left;
  line-height: auto;
  padding: 0 5px 0 0;
  width: 16px; }

a.newsletter-tab2 span.fieldmanage-symbol {
  background: transparent url("/images/notepad.gif") no-repeat;
  float: left;
  line-height: auto;
  padding: 0 5px 0 0;
  width: 16px; }

a.newsletter-tab2 span.filltermanage-symbol {
  background: transparent url("/images/kwrite.gif") no-repeat;
  float: left;
  line-height: auto;
  padding: 0 5px 0 0;
  width: 16px; }

#lm-management {
  text-align: left; }

.mdc-placement-result {
  border: none;
  height: 100%;
  width: 100%; }

.weburl {
  padding-left: 20px;
  padding-right: 10px; }

.sn-grid-status li {
  float: left; }

.sn-grid-status li.compose {
  padding-left: 5px;
  color: #87B93C;
  font-weight: bold; }

.x-grid3-hd-imformation {
  background: url("/images/info.GIF") no-repeat !important; }

.x-grid3-td-imformation .x-grid3-hd-inner {
  margin-top: 0px;
  padding-top: 15px;
  margin-left: 3px; }

.x-grid3-col-status, .x-grid3-col-actions, .x-grid3-col-sn_action {
  padding: 0 0 !important; }

.placement-active {
  width: 66px;
  height: 22px;
  background: url("/images/active.GIF") no-repeat; }

.placement-active:hover {
  cursor: pointer;
  width: 66px;
  height: 22px;
  background: url("/images/active_hover.GIF") no-repeat; }

.placement-inactive {
  width: 66px;
  height: 22px;
  background: url("/images/inactive.GIF") no-repeat; }

.placement-inactive:hover {
  cursor: pointer;
  width: 66px;
  height: 22px;
  background: url("/images/inactive_hover.GIF") no-repeat; }

.placement-property {
  width: 28px;
  height: 22px;
  background: url("/images/properties.GIF") no-repeat; }

.placement-property:hover {
  cursor: pointer;
  width: 28px;
  height: 22px;
  background: url("/images/properties_hover.GIF") no-repeat; }

.placement-edit {
  width: 28px;
  height: 22px;
  background: url("/images/contentEDIT.gif") no-repeat; }

.placement-edit:hover {
  cursor: pointer;
  width: 28px;
  height: 22px;
  background: url("/images/contentEDIT_hover.gif") no-repeat; }

.placement-delete {
  width: 28px;
  height: 22px;
  background: url("/images/trash.gif") no-repeat; }

.placement-delete:hover {
  cursor: pointer;
  width: 28px;
  height: 22px;
  background: url("/images/trash_hover.GIF") no-repeat; }

.placement-placement {
  width: 28px;
  height: 22px;
  background: url("/images/placement.GIF") no-repeat; }

.placement-placement:hover {
  cursor: pointer;
  width: 28px;
  height: 22px;
  background: url("/images/placement_hover.GIF") no-repeat; }

.placement-content-preview {
  width: 28px;
  height: 22px;
  background: url("/images/preview.GIF") no-repeat; }

.placement-content-preview:hover {
  cursor: pointer;
  width: 28px;
  height: 22px;
  background: url("/images/preview_hover.GIF") no-repeat; }

.placement-condition-edit {
  width: 33px;
  height: 22px;
  background: url("/images/addcondition.gif") no-repeat; }

.placement-condition-edit:hover {
  cursor: pointer;
  width: 33px;
  height: 22px;
  background: url("/images/addcondition.gif") no-repeat; }

.newpage-icon {
  background: url("/images/newpage.gif") no-repeat; }

.placement-moveup {
  width: 16px;
  height: 16px;
  background: url("/images/Actions-arrow-up-icon.png") no-repeat;
  cursor: pointer; }

.placement-movedown {
  width: 16px;
  height: 16px;
  background: url("/images/Actions-arrow-down-icon.png") no-repeat;
  cursor: pointer; }

/* test bubble */
.test-bubble {
  font-family: 'PT Sans';
  font-size: 17px; }

.test-bubble h1 {
  font-size: 20px; }

.test-bubble h2, .test-bubble h1, .test-bubble .h, .test-bubble a {
  color: #224186; }

.test-bubble .y {
  color: #ff9a03; }

.test-bubble .b {
  font-weight: bold; }

.test-bubble .i {
  font-style: italic; }

.test-bubble .big {
  font-size: 23px; }

.test-bubble .bullet {
  background-color: #18418b;
  color: white;
  padding-left: 5px;
  padding-right: 5px; }

.test-bubble div.small {
  font-size: 14px; }

.test-bubble div.small2 {
  font-size: 10px; }

.test-bubble .w_space35 {
  line-height: 35px; }

.test-bubble-0 {
  background: url("/images/test_placement/bg_001.png") no-repeat;
  padding: 40px 90px 10px 55px; }

.test-bubble-1 {
  background: url("/images/test_placement/bg_002.png") no-repeat;
  padding: 25px 10px 10px 30px;
  z-index: 30000 !important; }

.test-bubble-2 {
  background: url("/images/test_placement/bg_003.png") no-repeat;
  padding: 25px 10px 10px 25px;
  z-index: 30000 !important; }

.test-bubble-3 {
  background: url("/images/test_placement/bg_004.png") no-repeat;
  padding: 25px 20px 10px 40px;
  z-index: 30000 !important; }

.test-bubble-6 {
  background: url("/images/test_placement/bg_005.png") no-repeat;
  padding: 35px 40px 10px 30px;
  z-index: 30000 !important; }

.test-bubble-7 {
  background: url("/images/test_placement/bg_006.png") no-repeat;
  padding: 25px 10px 10px 25px;
  z-index: 30000 !important; }

.test-bubble-8 {
  background: url("/images/test_placement/bg_007.png") no-repeat;
  padding: 30px 90px 10px 55px;
  text-align: center;
  z-index: 30000 !important; }

.test-bubble-9 {
  background: url("/images/test_placement/bg_008.png") no-repeat;
  padding: 20px 20px 20px 22px;
  text-align: center;
  z-index: 30000 !important; }

.test-bubble-11 {
  background: url("/images/test_placement/bg_010.png") no-repeat;
  padding: 25px 20px 10px 40px;
  z-index: 30000 !important; }

.test-bubble-12 {
  background: url("/images/test_placement/bg_011.png") no-repeat;
  padding: 25px 20px 10px 40px;
  z-index: 30000 !important; }

.test-bubble-10 {
  background: url("/images/test_placement/bg_009.png") no-repeat;
  padding: 20px 20px 20px 22px;
  z-index: 30000 !important; }

.test-bubble-10 h2 {
  text-align: center;
  font-size: 22px; }

.test-bubble-10 .s-header {
  font-weight: bold;
  margin-top: 20px; }

.test-bubble-10 .s-header-1 {
  color: orange;
  font-size: 22px; }

.test-bubble-10 .s-header-2 {
  font-style: italic;
  font-size: 20px; }

.test-bubble-10 #signup-background {
  border-radius: 10px 10px 10px 10px;
  width: 670px;
  height: 180px;
  margin-left: 50px;
  margin-top: 10px;
  background-image: url("http://www.monoloop.com/fileadmin/templates/image/monoloop-sf-bg.png"); }

.test-bubble-10 #signup-background .f1 {
  float: left;
  width: 450px; }

.test-bubble-10 #signup-background .f2 {
  float: right;
  width: 200px; }

.test-bubble-10 #monoloop-create-form2 {
  padding: 20px; }

.test-bubble-10 #f2-desc {
  text-align: center; }

.test-bubble-10 #f2-btn {
  background: url("/images/test_placement/signup-btn.png") no-repeat scroll 0 0 transparent;
  z-index: 10;
  border: none;
  width: 159px;
  height: 29px;
  margin-top: 15px;
  margin-left: 20px;
  cursor: pointer; }

.test-bubble-10 .tick {
  background: url("/images/test_placement/tick.png") no-repeat scroll 0 0 transparent;
  width: 28px;
  height: 25px; }

.test-bubble-10 .b1 {
  padding-left: 100px;
  float: left;
  width: 300px; }

.test-bubble-10 .b2 {
  float: right;
  width: 350px; }

.test-bubble-10 .b1 div, .test-bubble-10 .b2 div {
  clear: left;
  float: left; }

.test-bubble-10 .error2 {
  margin-left: 20px;
  width: 145px;
  height: 95px;
  background-color: #FCD6CF;
  border: red 1px solid;
  padding: 5px;
  font-size: 10px;
  border-radius: 5px;
  overflow: hidden; }

.test-bubble-10 .loading2 {
  margin-top: 30px;
  margin-left: 80px;
  background: url("http://www.monoloop.com/fileadmin/templates/image/ajax-loader.gif") center no-repeat;
  width: 30px;
  height: 30px; }

/* test bubble */
/* Asset Element */
.asset .topic {
  color: #224186;
  /*rgb(255,165,0);*/
  font-family: 'PT sans';
  font-size: 17px; }

.asset .topic2 {
  color: #224186;
  /*rgb(255,165,0);*/
  font-family: 'PT sans';
  font-size: 15px; }

.asset .tiny-topic {
  color: #224186;
  font-size: 10px; }

.asset .b {
  color: #224186; }

.asset .y {
  color: orange; }

.asset .unmapped {
  background: url("/images/asset-uncheck.png") no-repeat scroll 0 0 transparent;
  width: 15px;
  height: 15px;
  cursor: pointer; }

.asset .mapped {
  background: url("/images/asset-check.png") no-repeat scroll 0 0 transparent;
  width: 17px;
  height: 15px;
  cursor: pointer; }

.asset .stage3-arrow {
  position: absolute;
  background: url("/images/asset-arrow.png") no-repeat scroll 0 0 transparent;
  left: 220px;
  top: 30px;
  width: 67px;
  height: 62px; }

.asset #grid {
  background: url("/images/asset-bg-4-1.png") no-repeat scroll 0 0 transparent;
  width: 98px;
  height: 80px; }

.asset-top {
  background: url("/images/asset-bg-top.png") no-repeat scroll 0 0 transparent; }

.asset-bottom {
  background: url("/images/asset-bg-bottom.png") no-repeat scroll 0 0 transparent; }

.asset-stage-1-center {
  background-color: #e5ebf3; }

.asset-stage-2 {
  background: url("/images/asset-bg-2.png") no-repeat scroll 0 0 transparent; }

.asset-stage-3 {
  background: url("/images/asset-bg-3.png") no-repeat scroll 0 0 transparent; }

.asset-stage-4 {
  background: url("/images/asset-bg-4.png") no-repeat scroll 0 0 transparent; }

.dtb-main {
  margin: 5px 0 0 0;
  border-radius: 5px;
  border: 1px solid #b8c5db; }

.dtb-dimensions {
  margin: 5px 0 0 0;
  border: 1px solid #b8c5db;
  background: #e5e5e5; }

.dtb-content {
  margin: 0 0 0 0;
  background: url("/images/dtb-content.png") no-repeat scroll 0 0 transparent; }

.dtb-styling {
  margin: 0 0 0 0;
  background: url("/images/dtb-styling.png") no-repeat scroll 0 0 transparent; }

.dtb-positioning {
  margin: 0 0 0 0;
  background: url("/images/dtb-positioning.png") no-repeat scroll 0 0 transparent; }

.dtb-positioning-bg {
  background: url("/images/dtb-positioning-bg.png") no-repeat scroll 0 0 transparent;
  position: relative; }

#dtb-pos-left, #dtb-pos-Left {
  background: url("/images/toolbar-left.png") no-repeat scroll 0 0 transparent;
  width: 29px;
  height: 91px;
  position: absolute;
  top: 10px;
  left: 0px; }

#dtb-pos-left:hover, #dtb-pos-left.active, #dtb-pos-Left:hover, #dtb-pos-Left.active {
  background: url("/images/toolbar-left-active.png") no-repeat scroll 0 0 transparent;
  cursor: pointer; }

#dtb-pos-right, #dtb-pos-Right {
  background: url("/images/toolbar-right.png") no-repeat scroll 0 0 transparent;
  width: 28px;
  height: 91px;
  position: absolute;
  top: 10px;
  right: 0px; }

#dtb-pos-right:hover, #dtb-pos-right.active, #dtb-pos-Right:hover, #dtb-pos-Right.active {
  background: url("/images/toolbar-right-active.png") no-repeat scroll 0 0 transparent;
  cursor: pointer; }

#dtb-pos-top, #dtb-pos-Top {
  background: url("/images/toolbar-top.png") no-repeat scroll 0 0 transparent;
  width: 263px;
  height: 27px;
  position: absolute;
  top: 9px;
  left: 0px; }

#dtb-pos-top:hover, #dtb-pos-top.active, #dtb-pos-Top:hover, #dtb-pos-Top.active {
  background: url("/images/toolbar-top-active.png") no-repeat scroll 0 0 transparent;
  cursor: pointer; }

#dtb-pos-bottom, #dtb-pos-Bottom {
  background: url("/images/toolbar-bottom.png") no-repeat scroll 0 0 transparent;
  width: 263px;
  height: 27px;
  position: absolute;
  bottom: 4px;
  left: 0px; }

#dtb-pos-bottom:hover, #dtb-pos-bottom.active, #dtb-pos-Bottom:hover, #dtb-pos-Bottom.active {
  background: url("/images/toolbar-bottom-active.png") no-repeat scroll 0 0 transparent;
  cursor: pointer; }

.dtb-actions {
  margin: 0 0 0 0;
  background: url("/images/dtb-actions.png") no-repeat scroll 0 0 transparent; }

.dtb2-main {
  margin: 5px 0 0 0;
  background: url("/images/dtb2-background.png") no-repeat scroll 0 0 transparent; }

.dtb2-dimensions {
  margin: 5px 0 0 0;
  background: url("/images/dtb2-dimensions.png") no-repeat scroll 0 0 transparent; }

.dtb2-content {
  margin: 0 0 0 0;
  background: url("/images/dtb2-content.png") no-repeat scroll 0 0 transparent; }

.dtb2-styling {
  margin: 0 0 0 0;
  background: url("/images/dtb2-styling.png") no-repeat scroll 0 0 transparent; }

.dtb2-positioning {
  margin: 0 0 0 0;
  background: url("/images/dtb2-positioning.png") no-repeat scroll 0 0 transparent; }

.dtb2-actions {
  margin: 0 0 0 0;
  background: url("/images/dtb2-actions.png") no-repeat scroll 0 0 transparent; }

.dtb2-advance {
  margin: 2px 0 0 0;
  background: url("/images/dtb2-advance.png") no-repeat scroll 0 0 transparent; }

.toolbar-edit-btn {
  width: 16px;
  height: 16px;
  background: url("/images/edit2.png") no-repeat scroll 0 0 transparent; }

.sl-main-slider {
  margin: 5px 0 0 0;
  /*background: url("/images/slider-main-bg.png") no-repeat scroll 0 0 transparent;*/
  border: 1px solid #89a0c4;
  border-radius: 5px; }

.sl-main-slider2 {
  margin: 5px 0 0 0;
  background: url("/images/slider-main-bg2.png") no-repeat scroll 0 0 transparent; }

.sl-design-dimensions {
  margin: 5px 0 0 0;
  /*background: url("/images/slider_design_deminsion.png") no-repeat scroll 0 0 transparent; */
  background: #e5e5e5;
  border: 1px solid #a6b4ca; }

.sl-design-content {
  margin: 0 0 0 0;
  /*background: url("/images/slider_design_content.png") no-repeat scroll 0 0 transparent; */
  background: #e5e5e5;
  border: 1px solid #a6b4ca; }

.sl-design-styling {
  margin: 0 0 0 0;
  /*background: url("/images/slider_design_styling.png") no-repeat scroll 0 0 transparent;*/
  background: #e5e5e5;
  border: 1px solid #a6b4ca; }

.sl-design-positioning {
  margin: 0 0 0 0;
  /*background: url("/images/slider_design_positioning.png") no-repeat scroll 0 0 transparent; */
  background: #e5e5e5;
  border: 1px solid #a6b4ca; }

.sl-design-position-select {
  margin: 10px 0 0 0;
  /*background: url("/images/slider_design_position_bg.png") no-repeat scroll 0 0 transparent; */
  background: #e5e5e5;
  border: 1px solid #a6b4ca;
  position: relative; }

#slider-pos-left, #slider-pos-Left {
  background: url("/images/position-left.png") no-repeat scroll 0 0 transparent;
  width: 43px;
  height: 75px;
  position: absolute;
  top: 15px;
  left: 0px; }

#slider-pos-left:hover, #slider-pos-left.active, #slider-pos-Left:hover, #slider-pos-Left.active {
  background: url("/images/position-left-active.png") no-repeat scroll 0 0 transparent;
  cursor: pointer; }

#slider-pos-right, #slider-pos-Right {
  background: url("/images/position-right.png") no-repeat scroll 0 0 transparent;
  width: 43px;
  height: 75px;
  position: absolute;
  top: 15px;
  right: 0px; }

#slider-pos-right:hover, #slider-pos-right.active, #slider-pos-Right:hover, #slider-pos-Right.active {
  background: url("/images/position-right-active.png") no-repeat scroll 0 0 transparent;
  cursor: pointer; }

#slider-pos-top, #slider-pos-Top {
  background: url("/images/position-top.png") no-repeat scroll 0 0 transparent;
  width: 114px;
  height: 34px;
  position: absolute;
  top: 9px;
  left: 75px; }

#slider-pos-top:hover, #slider-pos-top.active, #slider-pos-Top:hover, #slider-pos-Top.active {
  background: url("/images/position-top-active.png") no-repeat scroll 0 0 transparent;
  cursor: pointer; }

#slider-pos-bottom, #slider-pos-Bottom {
  background: url("/images/position-bottom.png") no-repeat scroll 0 0 transparent;
  width: 114px;
  height: 33px;
  position: absolute;
  bottom: 0px;
  left: 75px; }

#slider-pos-bottom:hover, #slider-pos-bottom.active, #slider-pos-Bottom:hover, #slider-pos-Bottom.active {
  background: url("/images/position-bottom-active.png") no-repeat scroll 0 0 transparent;
  cursor: pointer; }

.sl-design-positiontab {
  margin: 0 0 0 0;
  /*background: url("/images/slider_design_position_tab.png") no-repeat scroll 0 0 transparent; */
  background: #e5e5e5;
  border: 1px solid #a6b4ca; }

.sl-design-actions {
  margin: 0 0 0 0;
  /*background: url("/images/slider_design_action.png") no-repeat scroll 0 0 transparent; */
  background: #e5e5e5;
  border: 1px solid #a6b4ca; }

.sl-tab-dimensions {
  margin: 5px 0 0 0;
  background: url("/images/slider_tab_deminsion.png") no-repeat scroll 0 0 transparent; }

.sl-tab-content {
  margin: 0 0 0 0;
  background: url("/images/slider_tab_content.png") no-repeat scroll 0 0 transparent; }

.sl-tab-styling {
  margin: 0 0 0 0;
  background: url("/images/slider_tab_styling.png") no-repeat scroll 0 0 transparent; }

.zuper-wrapper {
  margin: 5px 0 0 0;
  background: url("/images/zuper/bg.png") no-repeat scroll 0 0 transparent; }

.zuper-panel2 {
  background: #d6d6d6; }

.zuper-panel {
  background: #e5e5e5;
  border-bottom: 1px solid #b7b7b7; }

a.select-box {
  text-align: center;
  border: 1px solid orange;
  display: block;
  height: 20px;
  line-height: 20px;
  width: 90%;
  padding: 1px;
  text-decoration: none; }

a.select-box.inactive {
  border: 1px solid grey; }

span.select-box {
  border: 1px solid  orange;
  display: block;
  width: 98%;
  height: 18px;
  line-height: 18px;
  background: orange;
  color: white;
  text-decoration: none; }

a.select-box.inactive span.select-box {
  border: 1px solid  grey;
  background: grey; }
