[class^="icone-"], [class*=" icone-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.icone-cogs:before{content:"\f085"}
.icone-dashboard:before{content:"\f015"}
.icone-content:before{content:"\f0f6"}
.icone-caret-down:before{content:"\f0d7"}.icone-caret-up:before{content:"\f0d8"}.icone-caret-left:before{content:"\f0d9"}.icone-caret-right:before{content:"\f0da"}
.icone-angle-left:before{content:"\f104"}.icone-angle-right:before{content:"\f105"}.icone-angle-up:before{content:"\f106"}.icone-angle-down:before{content:"\f107"}
.icon-bar-chart:before{content:"\f080";}.icon-list-ul:before{content:"\f0ca";}
.icon-euro:before,.icon-eur:before{content:"\f153";}
.icon-power-off:before,.icon-off:before{content:"\f011";}
.icon-traker:before{ content : url('../images/tracker_icon2.gif'); }
.icon-flask:before,.icon-flask:before{content:"\f0c3";}
.icon-segment:before{ content : url('../images/segment.png'); }
.icone-group:before{content:"\f0c0";}