.placement-active {
    background: url("/images/active.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 22px;
    width: 66px;
    &:hover{
    	background: url("/images/active_hover.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		cursor: pointer;	
   	}
}

.placement-inactive {
    background: url("/images/inactive.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 22px;
    width: 66px;
    &:hover{
    	background: url("/images/inactive_hover.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		cursor: pointer;	
   	}
}

.placement-property {
    background: url("/images/properties.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 22px;
    width: 28px;
    &:hover{
    	background: url("/images/properties_hover.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		cursor: pointer;	
   	}
}

.placement-delete {
    background: url("/images/trash.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 22px;
    width: 28px;
    &:hover{
    	background: url("/images/trash_hover.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		cursor: pointer;	
   	}
}