@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "admin/login";


*, a:focus {
    outline: medium none !important;
}

a {
    color: #2f65a7;
    outline: 0 none !important;
}

a:hover{
	text-decoration: none ;
}

.btn {
    box-shadow: none !important;
    line-height: 1.8;
    padding: 3px 12px;
    text-shadow: none;
}

.btn.btn-xs {
    font-size: 13px;
    line-height: 1;
}

.btn-inverse {
    background: none repeat scroll 0 0 #656565;
    border-color: #656565;
    color: #fff;
}

body.login{
  background : url(../images/admin/bg-pattern.png) ;
  .wrapper{
    padding : 150px 0 0 0 ;
  }
}

body.admin{
    background: none repeat scroll 0 0 #e1e0de;
    color: #4a4a4a;
    font-family: 'Helvetica Neue','Open Sans',Arial,sans-serif;
    font-size: 14px;
    height: 100%;
    position: relative;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid {
    background: none repeat scroll 0 0 #e1e0de;
    padding-bottom: 76px;
}

.badge {
    border: 1px solid #fff;
    &.badge-warning {
        background: none repeat scroll 0 0 #c58a2c;
    }
    &.badge-info {
        background: none repeat scroll 0 0 #2f65a7;
    }
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-menu {
    border: 1px solid #efefef;
    border-radius: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    padding: 0;
}

#content {
    background: none repeat scroll 0 0 #e1e0de;
    min-height: 500px;
    min-width: 320px;
    overflow: hidden;
    padding: 49px 0 0;
    position: relative;
}

#content {
    overflow: visible;
}

#content {
    height: 100%;
    position: relative;
}

#content {
  margin-left: 0px;
  @media (min-width: $screen-sm-min) {
    margin-left: 180px;
  }
}

.innerLR {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.widget {
    background: none repeat scroll 0 0 #f4f4f4;
    box-shadow: 0 1px 0 0 #656565;
    margin: 0 auto 28px;
    position: relative;
}

.pace .pace-progress {
  background: #c72a25;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}



@import "admin/navbar";
@import "admin/menu";
@import "admin/form" ;
