body {
text-align: left; /*fix center IE5 part 1/2*/
margin:0px;
padding:0px;
}

#content-editor-window .x-window-mc{
	background-color: white;
}

#content-element-form{
	font: 12px ;
}

#content-element-form .x-panel-body{
	background-color: rgb(231,236,243);
	border: 1px solid rgb(184,198,220);
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.x-tab-strip-inner {
    padding-top: 2px;
    padding-bottom: 3px;
}

.pw-back-buton {
    background-image: url('/images/back_t.GIF');
}

.pw-forword-buton {
    background-image: url('/images/forward_t.GIF');
}

.pw-refresh-buton {
    background-image: url('/images/refresh_t.GIF');
}

.pw-menu-property{
    background-image: url('/images/cog.png');
}

.pw-condition-property{
    background-image: url('/images/addcondition.gif');
    width : 25px !important ;
}

.pw-browe-bth .x-btn-text{
    width: 50px;
}

.pw-go-buton {
    background-image: url('/images/go_t.GIF');
}

.pw-menu-inspect-content{
    background-image: url('/images/magnifier.png');
}

.pw-menu-delete-content{
    background-image: url('/images/trash.gif');
}

.upload-icon{
    background-image: url('/images/folder_add.png');
}

.ml-btn button.x-btn-text{
    background-image: url('/images/addcondition.gif');
    width: 30px !important;
}




.ml-btn2 .x-btn-text{

    background-image: url('/images/showconditions.gif') !important;
    width: 28px !important;
}

.ml-btn3 .x-btn-text{
    background-image: url('/images/showcondition.gif') !important;
    width: 25px !important;
}

.ml-btn5 .x-btn-text{
    background-image: url('/images/hidecondition.gif') !important;
    width: 25px !important;
}

.ml-btn6 .x-btn-text{
    background-image: url('/images/assets_icon.png') !important;
    width: 27px !important;
}



.ml-btn4 .x-btn-text{
    background-image: url('/images/info.GIF');
}

.ces-window{

    background:  rgb(239,239,244)    ;
    padding: 6px;
}

.ces-window .x-resizable-handle-north , .ces-window .x-resizable-handle-south , .ces-window .x-resizable-handle-east , .ces-window .x-resizable-handle-west{
    background:  rgb(239,239,244)    ;
}

.ces-window-header-icon{
    background : url('/images/CES_01.png') no-repeat left top;
}

.ces-window-header{
    padding-left: 25px;
    padding-bottom: 10px;
}

.ces-window-header .x-tool-close , .ces-window-header .x-tool-close-over{
    background-image : url('/images/tool_close.png') ;
    background-position: 0 0 ;
}

.ces-window-header  .x-tool-maximize , .ces-window-header  .x-tool-maximize-over {
    background-image : url('/images/tool_maximize.png') ;
    background-position: 0 0 ;
}

.ces-window-header .x-tool-restore , .ces-window-header .x-tool-restore-over {
    /* This need to be chnage to restore icon */
    background-image : url('/images/tool_maximize.png') ;
    background-position: 0 0 ;
}

.ces-window-header-text{
    color:#15428B;
    font:bold 11px tahoma,arial,verdana,sans-serif;
    cursor: move;
}

.preplaced-window{
    overflow: auto;
    padding: 10px;
}

.preplaced-window .x-panel{
    margin-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px #E1E1E1 solid;
}

.preplaced-window .x-panel-header{
    background: none;
    border: none;
}

.preplaced-window .x-tool{
    float: left;
    background: none;
}

.preplaced-window .x-panel-header-text{
    padding-left: 15px;
}

.preplaced-window .x-panel-collapsed .x-tool-toggle{
    background-image : url('/images/nolines_plus.gif') ;
    background-position: 0 0 ;
}

.preplaced-window .x-tool-toggle{
    background-image : url('/images/nolines_minus.gif') ;
    background-position: 0 0 ;
}

.preplaced-window .x-panel-body{
    background: none;
    border: none;
}

.cse-panel-body{
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 10px;
    /*background:  rgb(239,239,244)    ;*/

}

.cse-text , .cse-panel-body label{
    font: 11px tahoma,arial,verdana,sans-serif;
}

.cse-panel-body label {
    font : bold 11px tahoma,arial,verdana,sans-serif;
    padding-bottom: 5px; padding-top: 10px;
}

#cse-name , #cse-selector , #cse-template-combo{
    width: 200px;
}

.cef-input .x-form-text , .cef-input .x-form-textarea{
    width: 280px;
}

.cef-textarea{
    width: 290px;
    overflow: auto;
}

.cef-textarea2{
    /*width: 630px;*/
    overflow: auto;
}


/* File Upload */
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}

.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:30000;
}

#msg-div-2 {
    position:absolute;
    left:0%;
    top:10px;
    width:550px;
    z-index:30000;
}

.contentGrid tbody tr:hover{
    background-color: #FDF2E1;
}

.orange-text{
    color: #F3B53F;
}

.testbench-field-group{
    margin-top: 10px;
    margin-left: 10px;
    -moz-border-radius:9px;
	-webkit-border-radius:9px;
    border: 2px solid #CF761D ;
    background-color: #FFFAF4;
    padding: 7px;
    padding-left: 10px;
}

.testbench-field-group h2{
    color: #FFA537;
    font-weight: bold;
    padding-bottom: 5px;
}

.testbench-field-group .field-label{
    padding-top: 5px;
    font-weight: bold;
}


.testbench-field-group2{
    margin-top: 10px;
    margin-left: 10px;
    -moz-border-radius:9px;
	-webkit-border-radius:9px;
    border: 2px solid #4456F7 ;
    background-color: #D9F8FD;
    padding: 7px;
    padding-left: 10px;
}

.testbench-field-group2 h2{
    color: #6C7AF9;
    font-weight: bold;
    padding-bottom: 5px;
}


.cse-panel-body2{
    margin-top: 10px;
    background:  rgb(239,239,244)    ;

}


.ml-collab-panel .x-tool{
    float: left;
    background: none;
}

.ml-collab-panel-header-text{
    padding-left: 15px;
}

.ml-collab-panel .x-tool-toggle{
    background-image : url('/images/nolines_minus.gif') ;
    background-position: 0 0 ;
}

.ml-collab-panel-colapse .x-tool-toggle{
    background-image : url('/images/nolines_plus.gif') ;
    background-position: 0 0 ;
}

.x-panel-collapsed-text{
    margin-top: 10px;
    margin-left: 5px;
    color: #15428B;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.ce-checkbox label{
    display: none;
}

.toolbar-label{float: left;}

.toolbar-btn{
    margin-left: 10px;
    float: left;
    background: url('/images/toolbar-btm-icon.png') no-repeat;
    width: 15px;
    height : 12px;
}


.monoloopBorder , .monoloopBorderFix{
   border: #de8d03 3px dotted !important; 
}

.speech-bubble , .speech-bubble:hover{
    position: absolute ;
    margin: 0 0;
    padding-top: 2px;
    width: 26px;
    height: 20px;
    background-image: url('/images/bubble_off.gif');
    font-size: 9px;
    cursor: pointer;
    z-index: 9999;
    text-align: center;
    color: white;
    font-weight: bold;
}

.speech-bubble:hover{
    background-image: url('/images/bubble_on.gif');
}

.ml-border {
    position: absolute ;
    background-color: #de8d03;
    z-index: 9000;
}

.ml-borderb{
    position: absolute ;
    background-color: blue;
    z-index: 8999;
}

.ml-borderb2{
    position: absolute ;
    z-index: 8999;
}

.ml-border-product {
    position: absolute ;
    background-color: blue;
    z-index: 9001;
}

.ml-border-row {
    position: absolute ;
    background-color: green;
    z-index: 9002;
}


.ml-border-col {
    position: absolute ;
    background-color: #EAEC91;
    z-index: 9003;
}

#ml-cart-table-select .l1{
    position: absolute ;
    background-color: #BECFF8;
    padding: 3px;
    margin: 3px;
    border: 1px solid black;
}

#ml-cart-table-select .l2{
    position: absolute ;
    background-color: #8AFFC5;
    padding: 3px;
    margin: 3px;
    border: 1px solid black;
}

#ml-cart-table-select .l3{
    position: absolute ;
    background-color: #FFFFCE;
    padding: 3px;
    margin: 3px;
    border: 1px solid black;
}

#ml-cart-table-select .l4{
    position: absolute ;
    background-color: #FFFFCE;
    padding: 3px;
    margin: 3px;
    border: 1px solid black;
}

#ml-cart-table-select .l5{
    position: absolute ;
    background-color: #FFFFCE;
    padding: 3px;
    margin: 3px;
    border: 1px solid black;
}

#ml-cart-table-select .l6{
    position: absolute ;
    background-color: #FFFFCE;
    padding: 3px;
    margin: 3px;
    border: 1px solid black;
}

.ml-border-p1{
    position: absolute ;
    border: 3px solid #FBC491;
    z-index: 900;
}

.ml-border-p1:hover{
    position: absolute ;
    border: 3px solid #de8d03;
    z-index: 900;
}

#ml-cart-table-select div{
    z-index: 900;
}

.ml-mapped-label{
    font-size: 9px;
    font-style: italic;
    position: absolute ;
    background-color: #E7E9FE;
    z-index: 8999;
}

@import 'extjs3/style' ;
