$signin-start-color: rgb(244,176,69);
$signin-end-color: rgb(240,146,1);

$signup-start-color: rgb(138,176,60);
$signup-end-color: rgb(103,154,3);

body.login{
	overflow-x:hidden;
	background: none repeat scroll 0 0 #91b6d8;
  font-family: "HelveticaNeue-CondensedBold","HelveticaNeueBoldCondensed","HelveticaNeue-Bold-Condensed","Helvetica Neue Bold Condensed","HelveticaNeueBold","HelveticaNeue-Bold","Helvetica Neue Bold","HelveticaNeue","Helvetica Neue","TeXGyreHerosCnBold","Helvetica","Tahoma","Geneva","Arial Narrow","Arial","sans-serif";
  padding : 10px ;
  color: white;
	#login-box {


    margin: 185px auto 10px;
	}
	.login-panel{
		background-color: rgba(0, 0, 0, 0.55);
		border : 1px solid white ;
	}
	a{
		color: white;
		&:hover{
			color:blue;
		}
	}

	.btn{
		color:white;
	}

	.btn:hover{
		color:grey;
	}

	a:hover{
		text-decoration:none;
		color:grey;
	}

	.btn-signin{
		background: $signin-start-color; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($signin-start-color, $signin-end-color); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($signin-start-color, $signin-end-color); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($signin-start-color, $signin-end-color); /* For Firefox 3.6 to 15 */
    background: linear-gradient($signin-start-color, $signin-end-color); /* Standard syntax */
	}

	.btn-signup{
		background: $signup-start-color; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($signup-start-color, $signup-end-color); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($signup-start-color, $signup-end-color); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($signup-start-color, $signup-end-color); /* For Firefox 3.6 to 15 */
    background: linear-gradient($signup-start-color, $signup-end-color); /* Standard syntax */
	}

	#bg { position: fixed; top: 0; left: 0;z-index:-1; }
	.bgwidth { width: 100%; }
	.bgheight { height: 100%; }
}
