.container-fluid{
	.x-accordion-item{
		.x-accordion-hd{
			background: none repeat scroll 0 0 rgb(227,227,227);
		}
	} 
	.x-panel-body-default{
		background: none repeat scroll 0 0 rgb(250,250,250);
	}
	
	.x-panel-header-default{
		background-color: #F8F8F8;
		border: 1px solid rgb(227,227,227);
	}
	
	.x-panel-body-default{
		border-color: rgb(227,227,227);
	}
	
	.x-panel-header-text-container-default{
		color: rgb(102,102,102);
	}
	
	#main-content{
	/*
		.x-btn-default-small{
			background-color: rgb(215,229,215) ; 
			background-image: none ; 
			border-color: rgb( 218,218,218 ) ; 
			.x-btn-inner{
				color : rgb(76,136,76) ; 	
			}
		}
		
		.x-btn-default-small-over{
			background-color: rgb(195,229,195) ; 	
		}
	*/	
		.x-panel-header{
			background: none repeat scroll 0 0 rgb(227,227,227);	
		}
		
	} 
}

.x-body{
	.x-window-default {
		border-color: rgb(153,153,153);
		
		
	}
	
	.x-window-default-plain {
		.x-panel-header-default{ 
			background-color: #999;	 
		} 
	}
	.x-window-header-default-top {
		background-color : 	rgb(153,153,153);
	}
	.x-window-header-default {
		border-color: rgb(153,153,153);
		.x-tool-img {
			background-color : 	rgb(153,153,153);
		}
	}
	.x-btn-default-toolbar-small-icon{
		.x-btn-icon-el{
			width : 32px;	
			height : 34px;
		}
	}
	.x-btn-default-toolbar-small {
		background-image : none ; 
		 	border-color:  white;	
		padding : 0 3px ; 	
		&:hover{
			border-color: #E1E1E1;	
		}
	}
	.x-toolbar-footer{
		background: none repeat scroll 0 0 rgb(227,227,227);
	}
	.x-window-body-default { 
		border-color: rgb(227,227,227);
	}
	.x-btn-default-small.monoloop-submit-form {
		background-color : 	rgb(96,99,100);
		background-image: none ; 
		border-color: rgb(96,99,100) ; 
	}
	.x-btn.tabcreate2-btn{
		background-color: #F8F8F8;
		background-image: none ; 
		border : none ; 
		.x-btn-inner{
			color : #333333;
		}
		
	}
	.monoloop-folder-tree .x-btn-default-toolbar-small-icon button{
		width : 34px !important;
	}
	.x-panel{
		.x-tab-bar-body{
			border : 1px solid #D0D0D0 ; 
		}
		.x-tab-bar-body-default-top {
			padding : 0  ; 	
		}
		.x-tab-default-active{
			background-color: #F8F8F8;
			.x-tab-inner{
				color : #333333;
			}
		}
		
		.x-tab-default-top{
			border-radius: 0 0 0 0; 
    		padding: 6px 6px 6px;	
    		border-right : 1px solid #D0D0D0 ; 
		}
		
		.x-tab-bar-strip-default {
			background-color: #F8F8F8;
		}
	}
	
	.x-progress-default{
		.x-progress-bar-default {
			background-color: #F8F8F8;	
		}
		
	}
	.x-panel-header-default{
		.x-tool-img{
			background-color: #D0D0D0;	
		}
	} 
	
	.monoloop-folder-tree{
		.x-panel-header-default{
			.x-tool-img{
				background-color: white;	
			}
		} 
	}
	.x-panel-header-vertical{ 
		.x-tool-img{
			background-color: white;	
		} 
	}
	
	.x-splitter-default{
		background-color: #F8F8F8;	
	}

	.x-window{
		.x-splitter-default{
			background-color: #e3e3e3;	
		}
	}
	
	.x-fieldset{
		padding : 0 10px 10px 10px ;
	}
	.x-grid-cell-inner{
		padding : 0 10px;
		line-height : 25px ; 	
	}
	.x-message-box{
		.x-toolbar-footer{
			.x-btn-default-small {
				background-color : 	rgb(96,99,100);
				background-image: none ; 
				border-color: rgb(96,99,100) ; 
			}	
		}
	}

	.x-border-layout-ct {
	    background-color: #FFF;
	}
    
    .x-form-checkboxgroup-body {
        padding :0 ;    
    }
}

