$header_bg_color :  rgb(253,253,253) ; 
$header_border_color :  rgb(221,221,221) ;  
$content_border_color : rgb(220,220,220) ; 

$aside_bg_color : #555 ;
$aside_width : 220px;  

$default_font : 'arial' ; 
$base_color : #555 ; 

$base_fontsize : 0.75em  ; 
$base_fontsize_p1 : 1.125em ; 

$color_light : #666666 ;
$color_dark : #000000 ;  
$color_green : #99CC00 ; 

body.ui{
    margin: 0;
    padding: 0;
    
    a , a:hover{
	   text-decoration:none ; 	
    }
    li{
    	line-height : 20px ; 	
    }
    background: none repeat scroll 0 0 #555555;
    .collapse {
        height: 0;
        overflow: hidden;
        position: relative;
        transition: height 0.35s ease 0s;
    }
    
    color: $base_color;
    font-family: $default_font;
    font-size: $base_fontsize;
	
	.header {
	    background: none repeat scroll 0 0 #fdfdfd;
	    border-bottom: 2px solid #ddd;
	    display: block;
	    min-height: 50px;
	    position: relative;
	    width: auto;
	    .logo {
		    color: #fff;
		    float: left;
		    padding: 5px 0 0 5px;
		    a {
			    display: inline-block;
			}
		}
		.loginbar {
		    color: #666;
		    float: right;
		    margin: 15px 10px 0 0;
		    a {
			    color: black;
			    font-size: 1.125em;
			    font-weight: bold;
			    text-decoration: none;
			    .icon {
				    color: #adb2b2;
				    font-size: 1.5em;
				    &:hover{
				    	color:black;	
			    	}
				}
			}
		}
	}
	&.x-body {
	    
        .sidebar {
            top: 50px;
            float: left;
            position: relative;
            top: 0 !important;
        }
        #main{
       		margin : 0 0 0 $aside_width ;  
       	}
	} 
    .sidebar {
        background : $aside_bg_color ; 
    	bottom : 0 ; 
    	left : 0 ; 
    	top : 52px ; 
    	position : absolute ;
    	height : 100% ;  
    	width : $aside_width ; 
    	div#account-selector{ 
    		background : rgb(229,229,229) ; 
    		line-height : 17px ; 
    		display : block ; 
    		 
    		position : relative ; 
    		select{
    			width : 100% ; 	
    			background : rgb(229,229,229) ; 
    			border: 0px solid #ccc; 
    		}
    		color : #333333 ; 
    		font-size : 17px;  
    		#account-main{
    			padding : 7px ; 
    			cursor: pointer;
    			font-weight : 700 ; 
    		}
    		.arrow{
    			position : absolute ; 
    			right : 18px ; 	
    		}
    		ul{
    			
    			background : inherit ; 
    			width : 100% ; 
    			z-index : 10 ; 
    			position : absolute ; 
    			display : none ; 	
    			margin : 0 ; 
    			padding : 0 ;
    			list-style : none ; 
    			li{ 
    				padding : 7px ; 
    				cursor: pointer;
    				&:hover{
    					color: #99CC00;
    				}
    			}
    		}
    	}
        #nav{
    		margin-bottom : 36px ;
    		position : relative ; 	
    		color : white ; 
    		ul{
    			background: rgb(81,81,81);	
    			display : block ; 
    			margin : 0  ; 
    			padding : 0 ; 
    			li{
    				display : block ; 
    				list-style : none outside none ; 	 
    				&.divider{
    					background-color: #666666;
    					border-bottom: 1px solid #4C4C4C;
    					border-top: 1px solid #777777;
    					box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    					color: #EEEEEE; 
    					padding: 0 10px;
    					position: relative;
    					text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    					text-transform: uppercase;	
    				}
    				&.accordion-group{
    					background-color: transparent;
    					border: medium none;
    					box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.06) inset;
    					border-radius: 0 0 0 0; 
    					margin-bottom: 0;
    					&.singlerow{
    						background-color : #5E5E5E ; 
    					}
    				}
    				&.active{
    					a{
    						&:before{
    							border-left: 3px solid $color_green;
    							bottom: 0;
    							content: "";
    							left: 0;
    							position: absolute;
    							top: 0;	
    						} 
    						
    						color : white ; 
    					}
    				}
    				a{ 
    					border-bottom: 1px solid #494949; 
    					color: #AAAAAA;
    					display: block; 
    					outline: medium none;
    					position: relative;
    					text-decoration: none;
    					text-shadow: 0 -1px 0 #444444;
    					transition: all 0.3s ease 0s;  
    					&:hover{
    						background: rgb(81,81,81);	
    						color : white ; 
    					}
    					.icon{
    						display : inline-block ;  
    						line-height: 16px;
    						margin: 14px 10px;	
    					}
    					.text{
    						display : inline-block ; 
    						margin: 10px 10px 10px 0;	
    					}
    					.arrow{ 
    						display: block; 
    						position: absolute;
    						right: 18px;
    						top: 13px;	
    					}
    				}
    				ul{
    					background-color: #5E5E5E;
    					box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.25) inset, 0 -5px 6px -5px rgba(0, 0, 0, 0.2) inset;
    					display: block;
    					margin: 0;	
    					li{
    						display: block;
    						list-style: none outside none;
    						position: relative;	
    						height: 36px;
    						a{
    							border-bottom: 1px solid #555555;
    							border-top: 1px solid #666666;
    							color: #DDDDDD;
    							display: block;
    							padding: 7px 10px 7px 34px;
    							text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    							transition: color 0.3s ease 0s;
    							&:active , &:hover{
    								color: $color_green;
    								background-color: #5E5E5E;
    							}
    							.icon{
    								display : inline-block ; 
    								font-size: 0.5em; 
    								margin : 0 3px 0 0;
        							vertical-align: middle;
    							}
    							&:before{
    								border-left: 0px !important;
    							}
    						}
    						&:first-child > a{
    							border-top: medium none;
        						box-shadow: none;
    						}
    						&.active{
    							a{
    								color: $color_green ; 
    							}
    						}
    					}
    				}
    			}
    		}
    	}
    }
    #main{
    	background: none repeat scroll 0 0 white;
        margin : 0 0 0 $aside_width ;  
        overflow: hidden;
    	.navbar{ 
    		line-height : 20px ; 	
    		&:before , &:after{ 
    			content: "";
    			display: table;
    			line-height: 0; 
    		}
    		&:after{ 
    			clear : both ; 	
    		}
    		.navbar-inner{
    			background: #EDEDED ; 
    			padding : 0 0 0 20px ; 
    			border-bottom: 1px solid rgb(210,210,210) ;  
    		}
    		.breadcrumb{
    			background-color: transparent ; 
    			display: inline-block ; 
    			margin : 5px 0  ; 
    			padding : 0 ;
    			list-style : none outside none ; 
    			li{
    				display : inline-block ; 
    				text-shadow : 0 1px 0 #FFF  ; 	
    				.divider{
    					padding : 0 5px ; 
    					background-image: url("../images/arrow_right.png");
    					background-position: center center;
    					background-repeat: no-repeat;
    					display: inline-block;
    					height: 9px;
    					width: 5px;	
    				}
    				a{
    					// color: #888888; 
    					color: #999999 ; 
    					transition: color 0.3s ease 0s; 
    				}
    				&.active{
    			 		color : #99CC00 ; 
    					//color: #999999 ;  	
    				}
    			}
    		}
    	}
    	.container-fluid{
    		&:before , &:after{ 
    			content: "";
    			display: table;
    			line-height: 0; 
    		}
    		&:after{ 
    			clear : both ; 	
    		} 
    		margin : 10px 8px 10px 8px ;  
    		border : 1px $content_border_color solid ;  
    		padding : 4px 5px 4px 5px ; 
    		background : rgb(241,241,241) ; 
    		.header-content{
    			font-family:  "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed;
      			font-size: 24px;	
      			font-weight: bold ;
    		}
    	}
    }
    #footer{
    	&:before{
    		clear : both ; 	
    	}
    	-moz-box-sizing: border-box;
    	background-color: $aside_bg_color;
    	bottom: 0;
    	position :  fixed ; 
    	color: #AAAAAA;
    	display: none;
    	padding: 8px 10px 8px 230px; 
    	height : 40px ; 
    	width: 100%;	
    	z-index:999;
    	p{
    		padding : 0 ; 
    		margin : 0 ; 	
    	}
    }	
}