#track-config-events , #track-config-events .border{
	position: absolute;
	top:0px;
}

#track-config-events .border-l,#track-config-events .border-t,#track-config-events .border-r,#track-config-events .border-b{
	position:absolute;background-color:blue;z-index:8999;
}

#track-config-fields , #track-config-fields .border{
	position: absolute;
	top:0px;
}

#track-config-fields .border-l,#track-config-fields .border-t,#track-config-fields .border-r,#track-config-fields .border-b{
	position:absolute;background-color:#de8d03;z-index:8999;
}

#track-config-fields .pre_select .border-l,#track-config-fields .pre_select .border-t,#track-config-fields .pre_select .border-r,#track-config-fields .pre_select .border-b{
	position:absolute;background-color:#C7C6FC;z-index:8990;
}

#track-config-field-focus , #track-config-field-focus .border{
	position: absolute;
	top:0px;
}

#track-config-field-focus .border-l,#track-config-field-focus .border-t,#track-config-field-focus .border-r,#track-config-field-focus .border-b{
	position:absolute;background-color:#FED8A1;z-index:9000;
}

#track-config-event-focus , #track-config-event-focus .border{
	position: absolute;
	top:0px;
}

#track-config-event-focus .border-l,#track-config-event-focus .border-t,#track-config-event-focus .border-r,#track-config-event-focus .border-b{
	position:absolute;background-color:#C7C6FC;z-index:9000;
}