

#datepicker-dropdown {
	font-size: 13px;
}

/* Style the calendar custom widget */
.date-range {
	position:relative;
}
.daterange-preset{
	margin-left:40px;
}
.input-fields{
	margin-top: 12px;
    font-size: 13px;
}
#dataRange #goal-date-range-field {
	height: 87% !important;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	background-color: #232F3A;
	width: 215px !important;
	left: 4%;
	/* right: 5px; */
	padding: 0.5% 1% 1% 1%;
	border-radius: 0 !important;
	margin-top: 0px !important;
	color: white;
	line-height: 26px;
}
#dateRangeCRChartFilters #goal-date-range-field {
	overflow: hidden;
	position: relative;
	cursor:pointer;
	border: 1px solid #CCCCCC;
	background-color: #232F3A;
	padding: 0.5% 1% 1% 1%;
	border-radius: 0 !important;
  margin-top: 0px !important;
  color: white;
  line-height: 26px;
}


.datarangeFilter .date-range-field-cl #goal-date-range-field {
	height: 80% !important;
	overflow: hidden;
	position: relative;
	cursor:pointer;
	border: 1px solid #CCCCCC;
	background-color: #232F3A;
	width: 90% !important;
	padding: 0.5% 4% 1% 1%;
	border-radius: 0 !important;
	margin-top: 0px !important;
	color: white;


}

.dateRangeCRChartFiltersDRField .webix_template {
height:80% !important;
}
.datarangeFilter .date-range-field-cl {
    width: 60% !important;
    text-align: center;
    background: #232F3A;
    color: white;
}
#goal-date-range-field a  {
	color:#D2D2D2;
	/*background-color:#F7F7F7;*/
	text-align:center;
	display: block;
	position: absolute;
	width: 26px;
	/*height: 23px;*/
	top: 4px;
	right: 0;
	text-decoration: none;
	padding-top:2px;
	border-radius: 0 5px 5px 0;
}
.btn-group{
	padding-top:20px;
	padding-left:60px;
}
#goal-date-range-field span {
	color: white;
	position: relative;
	height: 26px;
	/*line-height: 26px;*/
	left: 5px;
	font-size: 11px !important;
}
span.main{
	font-size: 13px !important;
  top: 2px !important;
}
#datepicker-dropdown {
	position: absolute;
	top: 23px;
	left: 0;
	overflow: hidden;
	width: 785px;
	height:125px;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
	display:none;
	padding:10px 0 0 10px;
    z-index: 99;
}

/* Remove default border from the custom widget since we're adding our own.  TBD: rework the dropdown calendar to use the default borders */
#datepicker-dropdown div.datepicker {
	background-color: transparent;
	border: none;
	border-radius: 0;
	padding: 0;
}

#datepicker-dropdown select {
     width: auto;
    height: 20px;
     font-size: 90%;
     vertical-align: top;
    padding: 0;
 }

#datepicker-dropdown input {
    width: auto;
    height: 10px;
    font-size: 90%;
    vertical-align: top;
}

.datepicker-calendar {
	float: left;
}

.datepicker-compare-calendar {
	clear: both;
	float: left;
}

/*#goal-date-range-field span.comparison-divider, */
#goal-date-range-field span.comparison {
	text-align: left;
	display: block;
	color: gray;
	font-weight: normal;
	font-size: 60%;
}

#datepicker-dropdown .right {
	float:left;
}

#datepicker-dropdown input[type=text] {
	width: 9em;
	height: 15px;
}

.datepicker, .date-ranges-form {
	float: left;
}

.date-ranges-form {
    margin-left: 10px;
    float: right;
}


.dr1.active {
	border-color: #07C
}
.dr2.active {
	border-color: #86BE2B
}

#datepicker-dropdown input.daterange-preset-parameter1 {
    width: 40px;
    height: 18px;
    font-size: 90%;
    vertical-align: top;
    padding: 0;
}

span.aggregation {
	background: #eee;
	border: #ccc 1px solid;
	border-radius: 4px;
	margin-right: 5px;
	margin-top: 4px;
	padding: 2px 3px 0 3px;
	float: left;
	height: 20px;
}

.datarangeFilter .date-range-field-cl #goal-date-range-field {

	overflow: hidden;
	position: relative;
	cursor:pointer;
	border: 1px solid #CCCCCC;
	background-color: #232F3A;
	padding: 0.5% 4% 1% 1%;
	border-radius: 0 !important;
	margin-top: 0px !important;
	color: white;


}
.datarangeFilter .date-range-field-cl {
    text-align: center;
    background: #232F3A;
    color: white;
}

#dateRangeCRChartFilters #goal-date-range-field {
	border: 1px solid #CCCCCC;
	background-color: #232F3A;
	padding: 0.5% 1% 1% 1%;
	border-radius: 0 !important;
  margin-top: 0px !important;
  color: white;
	height: 30px;
}
