/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v8/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v8/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(//fonts.gstatic.com/s/ptsans/v8/kTYfCWJhlldPf5LnG4ZnHCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(//fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(//fonts.gstatic.com/s/ptsans/v8/hpORcvLZtemlH8gI-1S-7iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(//fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(//fonts.gstatic.com/s/ptsans/v8/GpWpM_6S4VQLPNAQ3iWvVRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(//fonts.gstatic.com/s/ptsans/v8/7dSh6BcuqDLzS2qAASIeuhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(//fonts.gstatic.com/s/ptsans/v8/DVKQJxMmC9WF_oplMzlQqRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(//fonts.gstatic.com/s/ptsans/v8/PIPMHY90P7jtyjpXuZ2cLFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(//fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(//fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(//fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(//fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


		._ml_widget * {
				line-height: normal;text-transform: initial !important;}
			._ml_widget._ml_skin_dark, ._ml_widget._ml_skin_dark ._ml_widget_open_close {
			  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.6) !important;}
			._ml_widget {
			  background: #333333 none repeat scroll 0 0 !important;
			  color: #fff !important;
			}

			body div._ml_widget{
				font-family: "PT Sans",Tahoma !important;
			}

			body div._ml_widget p{
				font-family: "PT Sans",Tahoma !important;
			}

			body div._ml_widget a{
				font-family: "PT Sans",Tahoma !important;
			}

			._ml_widget {
			  border-radius: 5px 5px 0 0;
			  bottom: -400px;

    		font-size: 15px;
			  position: fixed;
			  right: 100px;
			  width: 500px;
			  z-index: 2147483644;
			}
			@media only screen and (max-width: 500px) {
		    ._ml_widget {
	        right: 0px;
	        width: 100%;
		    }
			}

			._ml_widget strong{
				color: #fff  ;
			}

			._ml_widget table{
				width:auto;
				display: block;
			}

			._ml_widget  table td {
		    border: none;
		    padding: 0px;
		    text-align: left;
		    color:#fff;
		    background-color: inherit;
			}

			._ml_widget input{
				height: auto;
			}

			._ml_widget, ._ml_widget div {
			  height: auto;
			}
			._ml_widget ._ml_widget_open_close::before {
			  background: #333333 none repeat scroll 0 0 !important;
			}
			._ml_widget ._ml_widget_open_close::before {
			  bottom: -8px;
			  content: "";
			  height: 8px;
			  left: -4px;
			  position: absolute;
			  right: -4px;
			}
			._ml_widget ._ml_widget_open_close {
			  background: #333333 none repeat scroll 0 0 !important;
			}
			._ml_widget ._ml_widget_open_close {
			  border-radius: 5px 5px 0 0;
			  cursor: pointer;
			  height: 18px;
			  padding-top: 2px;
			  position: absolute;
			  right: 20px;
			  text-align: center;
			  top: -18px;
			  width: 40px;
			}

			._ml_widget._ml_widget_firsttime ._ml_widget_title{
				display: none ;
			}
			._ml_widget._ml_widget_firsttime ._ml_widget_body ._ml_widget_state{
				display: none ;
			}

			._ml_widget a, ._ml_widget a:link, ._ml_widget a:hover, ._ml_widget a:active {
			  color: #fff !important;
			}
			._ml_widget div, ._ml_widget span, ._ml_widget p, ._ml_widget a, ._ml_widget img, ._ml_widget strong, ._ml_widget form, ._ml_widget label {
			  background: transparent none repeat scroll 0 0;
			  border: 0 none;
			  float: none !important;
			  font-size: 100%;
			  margin: 0;
			  outline: 0 none;
			  padding: 0;
			  vertical-align: baseline;
			}
			._ml_widget p, ._ml_widget p b, ._ml_widget p span {
			  color: #fff !important;
			}
			._ml_widget._ml_widget_hidden ._ml_widget_open_close ._ml_widget_icon {
			  background-position: 0 0;}
			._ml_widget ._ml_widget_open_close ._ml_widget_icon {
			  background-position: -32px 0;
			}
			._ml_widget ._ml_widget_icon {
			  background-image: url("//mlres.s3.amazonaws.com/images/widget_icons_dark.png") !important;
			}
			._ml_widget ._ml_widget_icon {
			  background-repeat: no-repeat;
			  display: inline-block;
			  height: 16px;
			  vertical-align: top;
			  width: 16px;
			}
			._ml_widget._ml_widget_hidden ._ml_widget_hidden_handle {
			  display: block;
			}
			._ml_widget ._ml_widget_hidden_handle {
			  background: #333333 none repeat scroll 0 0 !important;
			}
			._ml_widget ._ml_widget_hidden_handle {
			  border-radius: 5px 5px 0 0;
			  cursor: pointer;
			  display: none;
			  height: 4px;
			}

			._ml_widget._ml_widget_hidden ._ml_widget_body {
			  max-height: 0px;
			}

			._ml_widget ._ml_widget_body {
			  display: block;
			  transition-property: all;
				transition-duration: .5s;
				transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
				max-height: 600px;
				width: 100%;
			}

			._ml_widget ._ml_widget_title {
			  cursor: pointer;
			  font-weight: bold;
			  line-height: 17px;
			  margin: 0;
			  min-height: 17px;
			  padding: 12px;
			  text-align: center;
			  word-wrap: break-word;
			}

			._ml_widget._ml_widget_open ._ml_widget_state_open {
			  display: block;
			}

			._ml_widget ._ml_widget_state {
			  background: #4d4d4d none repeat scroll 0 0 !important;
		    border-bottom: 1px solid #333333 !important;
		    border-top: 1px solid #666666 !important;
		    cursor: pointer !important;
		    padding:12px;
			}


			._ml_widget ._ml_info.active , ._ml_widget ._ml_intro.active , ._ml_widget ._ml_preferences.active , ._ml_widget ._ml_data.active{
				display: block;
			}


			._ml_widget ._ml_data p {
			  text-align: center;
			}


			 ._ml_widget._ml_widget_open ._ml_widget_footer {
        display: block;
      }

      ._ml_widget ._ml_widget_footer {
        padding : 12px;
        border-top: 1px solid #1a1a1a !important;
      }
      ._ml_widget ._ml_widget_footer p{
        text-align: center;
      }
      ._ml_widget ._ml_info , ._ml_widget ._ml_preferences , ._ml_widget ._ml_data , ._ml_widget ._ml_intro{
        overflow-y: auto;
        height: 200px;
        display: none;
      }



      ._ml_widget ._ml_info p , ._ml_widget ._ml_intro p{
        padding-bottom: 10px;
      }

      ._ml_widget_state ul{
        list-style: none outside none; margin:0 0 12px  0; padding: 0; text-align: center;
      }

      ._ml_widget_state ul li{
         margin: 0 10px; display: inline;
      }
      @media only screen and (max-width: 500px) {
        ._ml_widget_state ul li{
          margin: 0 1px; display: inline;
        }
      }

      ._ml_widget_state ul li.active a{
        text-decoration: underline;
      }






      ._ml_widget ._ml_btn_primary , ._ml_dialog_content ._ml_btn_primary {
        background: #00c764 none repeat scroll 0 0 !important;
        color: white;
      }

      ._ml_widget ._ml_btn_danger{
        background: rgba(0, 0, 0, 0) linear-gradient(#f4b045, #f09201) repeat scroll 0 0;
        color: white;
      }

      ._ml_widget ._ml_btn, ._ml_widget ._ml_btn_primary , ._ml_widget ._ml_btn_danger, ._ml_dialog_content ._ml_btn_primary{
        border: 0 none !important;
        cursor: pointer;
        display: inline-block;
        font-size: 13px !important;
        font-weight: bold !important;
        height: initial !important;
        min-height: initial !important;
        outline: 0 none !important;
        padding: 7px 10px !important;
        text-decoration: none !important;
        vertical-align: top;
        width: auto;
      }
      ._ml_widget ._ml_btn_primary:hover, ._ml_widget ._ml_btn_primary:focus, ._ml_widget ._ml_btn_primary:active,._ml_dialog_content ._ml_btn_primary:hover, ._ml_dialog_content ._ml_btn_primary:focus, ._ml_dialog_content ._ml_btn_primary:active  {
        background: #00a251 none repeat scroll 0 0 !important;
      }

      ._ml_widget ._ml_btn_danger:hover, ._ml_widget ._ml_btn_danger:focus, ._ml_widget ._ml_btn_danger:active {
        background: rgba(0, 0, 0, 0) linear-gradient(#f5b045, #f06201) repeat scroll 0 0;
      }

      ._ml_widget ._ml_transition {
        transition: all 0.2s ease-in-out 0s;
      }
      ._ml_widget ._ml_shadow {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
      }
      ._ml_widget ._ml_rounded_corners {
        border-radius: 4px;
      }
      ._ml_widget ._ml_widget_body ._ml_pc_delete_by{
        width: 80% ;
        margin: 0 auto ;
        border-top: 2px solid #666666 ;
      }

      body div._ml_profile_dialog{
        font-family: "PT Sans",Tahoma !important;
      }

      body div._ml_profile_dialog p{
        font-family: "PT Sans",Tahoma !important;
      }

      body div._ml_widget a{
        font-family: "PT Sans",Tahoma !important;
      }


      ._ml_profile_dialog {
          position: fixed;

          font-size: 15px;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.8);
          z-index: 2147483644;
          opacity:0;
          -webkit-transition: opacity 400ms ease-in;
          -moz-transition: opacity 400ms ease-in;
          transition: opacity 400ms ease-in;
          pointer-events: none;
      }
      ._ml_profile_dialog.active{
          opacity:1;
          pointer-events: auto;
      }
      ._ml_profile_dialog > div._ml_dialog_content {
          width: 500px;
          position: relative;
          margin: 10% auto;
          padding: 15px 20px 53px 20px;
          border-radius: 10px;
          background: #fff;
      }

      ._ml_profile_dialog  table td {
        border: none;
        padding: 0px;
        text-align: left;
      }

      @media only screen and (max-width: 500px) {
        ._ml_profile_dialog > div._ml_dialog_content {
          width: 80%;
          margin: 10% auto;
        }
      }


      ._ml_profile_dialog .close {
          background: #606061;
          color: #FFFFFF;
          line-height: 25px;
          position: absolute;
          right: -12px;
          text-align: center;
          top: -10px;
          width: 24px;
          text-decoration: none;
          font-weight: bold;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 1px 1px 3px #000;
          -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
          cursor: pointer;
          opacity: 1;
          font-size: 12px;
      }
      ._ml_profile_dialog .close:hover {
          background: #00d9ff;
      }

      ._ml_profile_dialog ._ml_dialog_inner_content{
        height: 380px ;
        overflow-y: auto;
      }

      ._ml_profile_dialog ._ml_profile_footer{
        position:absolute;
        bottom:10px;
      }

      ._ml_profile_group   {
        cursor: pointer;
        margin-top: 5px;
        width:  100% ;
        border: 1px solid #565B55;
        background: #D3D3D3;
        box-sizing: border-box;
      }

      ._ml_profile_group .l , ._ml_visit_group .l{
        float: left;
        padding-left: 10px;
        vertical-align:middle;
        height: 18px;
      }

      ._ml_profile_group .r , ._ml_visit_group .r{
        float: right;
        margin-right: 10px;
        width: 18px;
        height: 18px;
      }

      ._ml_profile_group .plus , ._ml_visit_group .plus{
        background: url('https://mlres.s3.amazonaws.com/invoke/privacy/nolines_plus.gif') no-repeat;
        padding:0;
      }

      ._ml_profile_group .minus , ._ml_visit_group .minus{
        cursor: pointer;
        background: url('https://mlres.s3.amazonaws.com/invoke/privacy/nolines_minus.gif') no-repeat;
        padding:0;
      }

      ._ml_clear{
        clear:both;
      }

      ._ml_profile_detail {
        width:  100% ;
        display: none ;
        padding-left: 10px;
        border: 1px solid #565B55;
        box-sizing: border-box;
      }

      ._ml_profile_detail.active , ._ml_visit_detail.active{
        display: block;
      }

      ._ml_visit_group{
        cursor: pointer;
        margin-top: 5px;
        width:  100% ;
        border: 1px solid #565B55;
        background: #D3D3D3;
        box-sizing: border-box;
      }

      ._ml_visit_detail{
        width:  100% ;
        display: none ;
        padding-left: 10px;
        border: 1px solid #565B55;
        box-sizing: border-box;
      }

      #ml_personalization {
        -webkit-appearance: checkbox;
        width: auto;
      }

      ._ml_dialog_content {
        color: #333;
      }

body #_ml_pc_container{
  opacity: 1;
}