.group{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px #666;
}

.group-conditions{
    margin-left: 20px;
}

.alert-group{
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: rgb(192, 152, 83);
    border-color: rgb(251, 238, 213);
    border-color: rgb(220, 200, 150);
}

.oneNode {
    margin-top: 15px;
      margin-bottom: 30px;
}

.list-group-item.conditionParameter {
  text-align: left;"
}
.conditionsList {
  min-height: 500px;
}
.conditionsList ul {
  list-style-type: none;
}
.panel-heading {
  padding: 5px 15px;
}
.alert-group {
  margin-top: 0px;
}
.advancedPanel, .conditionbuilderPanel {
  padding: 0px;
}
.list-group-item {
  padding: 2px 7px;
}

.well {
  padding: 10px;
  margin-bottom: 4px;
  font-size: 10px;
  line-height: 0.4;
  text-align: center;
  height: 10px;
  width: 100%;
  background-color: white;
  display: block;
}

.well_hoverd {
  background-color: #EFE0A3;
  border: 1px solid #e3e3e3;
}

.or {}

.and {
  width: 90%;
  float: right;
}

.output_ {
  font-size: 79
}
.alert {
  padding: 7px;
  margin-bottom: 0px;
  border: 0px solid transparent;
  border-radius: 1px;
}
alert-info {
  background-color: rgba(217, 237, 247, 0.31);
}
.collectionlist {
    padding-left: 4%;
}

/*.collectionlist li::before {
    content: "Read this -";
}*/
/* relationships AND and OR */
.cbuilderContainer {
  position: absolute;
  width: 96%;
}
.conditionbuilderPanel {
  position: absolute;
  width: 100%;
}
.cbuilder-line-or {
  border: 1px solid blue;
  position: absolute;
}
.cbuilder-line-and2 {
  border: 1px solid blue;
  position: absolute;
}
.cbuilder-or-icon {
  width: 29px;
  height: 15px;
  background-image: url('../img/or.png');
  position: absolute;
  z-index: 110;
    margin-top: 5px;
}
.cbuilder-and2-icon {
  width: 29px;
  height: 15px;
  background-image: url('../img/and.png');
  position: absolute;
  z-index: 110;
    margin-top: 5px;
}
.bar {
    position: absolute;
    bottom: 0;
    background-color: blue;
}
.guidelineBtn {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none!important;
  color: #fff;
  background-color: rgb(108, 148, 0);
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}
.guidelineBtn:hover {
  background-color: #ffffff;
  color: #73AD21;
  color: #4CAF50;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}
/*input[type=checkbox], input[type=radio] {
    margin: 0px 0 0;
}
.form-control:focus {
    border-color: rgba(102, 175, 233, 0);
}*/
/* relationships end */

/*.linksHiddenState {
  opacity: 0;
  position: fixed;
}
.linksActiveState {
  opacity: 1;
  position: relative;
}*/
.webui-popover.pop .webui-popover-inner {
  padding: 10px 15px 0px 15px;
  border-bottom: 0px solid #f2f2f2;
}
.webui-popover.pop .webui-popover-title {
  border-bottom: 0px solid #f2f2f2;
}
.webui-popover.pop .webui-popover-content {
  padding: 0px 14px 14px 14px;
}
p,.webui-popover-title {

font-family: 'PT Sans', Tahoma !important;
}
.guidelineBtn {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none!important;
  color: #fff;
  background-color: #155A3E;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 800;
  transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}
.guidelineBtn:hover {
  background-color: #ffffff;
  color: #73AD21;
  color: #4CAF50;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}

.webui-popover.pop,
.webui-popover.pop .webui-popover-title {
  background-color: #2AB27B !important;
}
.webui-popover.pop .webui-popover-title {
  font-size: 22px !important;
  color: white !important;
  font-family: 'PT Sans', Tahoma !important;
}
.webui-popover.pop p {
  color: white !important;
  margin: 0 0 8px 0px;
}

.webui-popover.pop.bottom > .webui-arrow:after,
.webui-popover.pop.bottom-right > .webui-arrow:after,
.webui-popover.pop.bottom-left > .webui-arrow:after{
  border-bottom-color: #2AB27B !important;
}
.webui-popover.pop.top > .webui-arrow:after,
.webui-popover.pop.top-right > .webui-arrow:after,
.webui-popover.pop.top-left > .webui-arrow:after {
  border-top-color: #2AB27B !important;
}
.webui-popover.pop.left > .webui-arrow:after,
.webui-popover.pop.left-top > .webui-arrow:after,
.webui-popover.pop.left-bottom > .webui-arrow:after{
  border-left-color: #2AB27B !important;
}
.webui-popover.pop.right > .webui-arrow:after,
.webui-popover.pop.right-top > .webui-arrow:after,
.webui-popover.pop.right-bottom > .webui-arrow:after{
  border-right-color: #2AB27B !important;
}
.webui-popover.pop .gotIt {
  margin-right: 5px !important;
}
.webui-popover.pop .done-link {
  color: #155A3E;
  text-decoration: none;
  line-height: 1.8;
  font-family: 'PT Sans', Tahoma !important;
}
.instructions{
  top: 40%;
  position: absolute;
  left: 40%;
}
