



      ._ml_widget ._ml_btn_primary {
        background: #00c764 none repeat scroll 0 0 !important;
        color: white;
      }

      ._ml_widget ._ml_btn_danger{
        background: rgba(0, 0, 0, 0) linear-gradient(#f4b045, #f09201) repeat scroll 0 0;
        color: white;
      }

      ._ml_widget ._ml_btn, ._ml_widget ._ml_btn_primary , ._ml_widget ._ml_btn_danger{
        border: 0 none !important;
        cursor: pointer;
        display: inline-block;
        font-size: 13px !important;
        font-weight: bold !important;
        height: initial !important;
        min-height: initial !important;
        outline: 0 none !important;
        padding: 7px 10px !important;
        text-decoration: none !important;
        vertical-align: top;
        width: auto;
      }
      ._ml_widget ._ml_btn_primary:hover, ._ml_widget ._ml_btn_primary:focus, ._ml_widget ._ml_btn_primary:active {
        background: #00a251 none repeat scroll 0 0 !important;
      }

      ._ml_widget ._ml_btn_danger:hover, ._ml_widget ._ml_btn_danger:focus, ._ml_widget ._ml_btn_danger:active {
        background: rgba(0, 0, 0, 0) linear-gradient(#f5b045, #f06201) repeat scroll 0 0;
      }

      ._ml_widget ._ml_transition {
        transition: all 0.2s ease-in-out 0s;
      }
      ._ml_widget ._ml_shadow {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
      }
      ._ml_widget ._ml_rounded_corners {
        border-radius: 4px;
      }
      ._ml_widget ._ml_widget_body ._ml_pc_delete_by{
        width: 80% ;
        margin: 0 auto ;
        border-top: 2px solid #666666 ;
      }

      body div._ml_profile_dialog{
        font-family: "PT Sans",Tahoma !important;
      }

      body div._ml_profile_dialog p{
        font-family: "PT Sans",Tahoma !important;
      }

      body div._ml_widget a{
        font-family: "PT Sans",Tahoma !important;
      }


      ._ml_profile_dialog {
          position: fixed;

          font-size: 15px;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.8);
          z-index: 2147483644;
          opacity:0;
          -webkit-transition: opacity 400ms ease-in;
          -moz-transition: opacity 400ms ease-in;
          transition: opacity 400ms ease-in;
          pointer-events: none;
      }
      ._ml_profile_dialog.active{
          opacity:1;
          pointer-events: auto;
      }
      ._ml_profile_dialog > div._ml_dialog_content {
          width: 500px;
          position: relative;
          margin: 10% auto;
          padding: 15px 20px 13px 20px;
          border-radius: 10px;
          background: #fff;
      }

      ._ml_profile_dialog  table td {
        border: none;
        padding: 0px;
        text-align: left;
      }

      @media only screen and (max-width: 500px) {
        ._ml_profile_dialog > div._ml_dialog_content {
          width: 80%;
          margin: 10% auto;
        }
      }


      ._ml_profile_dialog .close {
          background: #606061;
          color: #FFFFFF;
          line-height: 25px;
          position: absolute;
          right: -12px;
          text-align: center;
          top: -10px;
          width: 24px;
          text-decoration: none;
          font-weight: bold;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 1px 1px 3px #000;
          -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
          cursor: pointer;
          opacity: 1;
          font-size: 12px;
      }
      ._ml_profile_dialog .close:hover {
          background: #00d9ff;
      }

      ._ml_profile_dialog ._ml_dialog_inner_content{
        height: 400px ;
        overflow-y: auto;
      }

      ._ml_profile_group   {
        cursor: pointer;
        margin-top: 5px;
        width:  100% ;
        border: 1px solid #565B55;
        background: #D3D3D3;
        box-sizing: border-box;
      }

      ._ml_profile_group .l , ._ml_visit_group .l{
        float: left;
        padding-left: 10px;
        vertical-align:middle;
        height: 18px;
      }

      ._ml_profile_group .r , ._ml_visit_group .r{
        float: right;
        margin-right: 10px;
        width: 18px;
        height: 18px;
      }

      ._ml_profile_group .plus , ._ml_visit_group .plus{
        background: url('https://mlres.s3.amazonaws.com/invoke/privacy/nolines_plus.gif') no-repeat;
        padding:0;
      }

      ._ml_profile_group .minus , ._ml_visit_group .minus{
        cursor: pointer;
        background: url('https://mlres.s3.amazonaws.com/invoke/privacy/nolines_minus.gif') no-repeat;
        padding:0;
      }

      ._ml_clear{
        clear:both;
      }

      ._ml_profile_detail {
        width:  100% ;
        display: none ;
        padding-left: 10px;
        border: 1px solid #565B55;
        box-sizing: border-box;
      }

      ._ml_profile_detail.active , ._ml_visit_detail.active{
        display: block;
      }

      ._ml_visit_group{
        cursor: pointer;
        margin-top: 5px;
        width:  100% ;
        border: 1px solid #565B55;
        background: #D3D3D3;
        box-sizing: border-box;
      }

      ._ml_visit_detail{
        width:  100% ;
        display: none ;
        padding-left: 10px;
        border: 1px solid #565B55;
        box-sizing: border-box;
      }

      #ml_personalization {
        -webkit-appearance: checkbox;
        width: auto;
      }

      ._ml_dialog_content {
        color: #333;
      }

