.ml-login-window{
    padding: 10px;
    background-color: white;
}

.ml-login-window #monoloop-logo{
    background: url('../../../../../../fileadmin/templates/ikea/images/monoloop_logo_clear.gif') no-repeat;
	height: 75px;
	width: 200px;
}

.ml-login-window #monoloop-login-msg{
    color: red;
}


.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}