.speech-bubble,.speech-bubble:hover{position:absolute;margin:0 0;padding-top:2px;width:26px;height:20px;background-image:url("../../images/bubble_off.gif");font-size:9px;cursor:pointer;z-index:9999;text-align:center;color:white;font-weight:bold}.speech-bubble:hover{background-image:url("../../images/bubble_on.gif")}.ml-border{position:absolute;background-color:#de8d03;z-index:9000}.ml-borderb{position:absolute;background-color:blue;z-index:8999}.ml-borderb2{position:absolute;z-index:8999}.ml-border-product{position:absolute;background-color:blue;z-index:9001}.ml-border-row{position:absolute;background-color:green;z-index:9002}.ml-border-col{position:absolute;background-color:#EAEC91;z-index:9003}#ml-cart-table-select .l1{position:absolute;background-color:#BECFF8;padding:3px;margin:3px;border:1px solid black}#ml-cart-table-select .l2{position:absolute;background-color:#8AFFC5;padding:3px;margin:3px;border:1px solid black}#ml-cart-table-select .l3{position:absolute;background-color:#FFFFCE;padding:3px;margin:3px;border:1px solid black}#ml-cart-table-select .l4{position:absolute;background-color:#FFFFCE;padding:3px;margin:3px;border:1px solid black}#ml-cart-table-select .l5{position:absolute;background-color:#FFFFCE;padding:3px;margin:3px;border:1px solid black}#ml-cart-table-select .l6{position:absolute;background-color:#FFFFCE;padding:3px;margin:3px;border:1px solid black}.ml-border-p1{position:absolute;border:3px solid #FBC491;z-index:900}.ml-border-p1:hover{position:absolute;border:3px solid #de8d03;z-index:900}#ml-cart-table-select div{z-index:900}.ml-mapped-label{font-size:9px;font-style:italic;position:absolute;background-color:#E7E9FE;z-index:8999}
.red-bubble,.red-bubble:hover {background-image:url("../../images/red_bubble.png");}
.cke {
  /*position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;*/
}
.cke_dialog_ui_file {
    height: 60px !important;
}
.cke_dialog_ui_input_file {
    height: 40px !important;
}

/********Floating action buttons start*******/
/*@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);*/
/*@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);*/
.toasts {
  bottom: 1em;
  left: 1em;
  position: fixed;
}
.toasts .floatingText {
  background-color: #212121;
  border-radius: 0.19em;
  color: #FFF;
  display: inherit;
  font-family: 'Roboto';
  font-size: 0.8em;
  font-weight: 300;
  min-width: 15em;
  padding: 1em 2em;
  position: relative;
  text-align: left;
}

.floatingContainer {
  /*height: 300px;*/
  /*top: 380px;*/
  bottom: 100px;
  right: 40px;
  position: fixed;
  text-align: center;
  z-index: 99999;
}
.floatingContainerpopover {
  /*height: 300px;*/
  /*top: 380px;*/
  bottom: 80px;
  right: 40px;
  position: fixed;
  text-align: center;
  z-index: 99999;
}
.floatingContainer:hover .subActionButton {
  transition: opacity 1.2s;
}
.floatingContainer:hover .subActionButton + .subActionButton {
  transition: opacity 0.8s;
}
.floatingContainer:hover .subActionButton + .subActionButton + .subActionButton {
  transition: opacity 0.4s;
}

.actionButton {
  background-color: #D32F2F;
  border-radius: 50%;
  height: 3em;
  position: relative;
  width: 3em;
  z-index: 1000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  cursor: pointer;

}
.actionButton .floatingText {
  color: #FFF;
  display: none;
  font-family: 'Roboto';
  position: absolute;
  top: -.2em;
  right: 3.5em;
  min-width: 10em;
  text-align: right;
}
.actionButton .floatingText.show {
  display: inherit;
}
.actionButton .floatingTextBG {
  padding: 0.2em 0.5em;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: .3em;
}
.actionButton.display {
  display: inherit;
}
.actionButton:before {
  content: '\f067';
  color: #FFF;
  position: absolute;
  margin-top: .5em;
  margin-left: -0.4em;
  opacity: 1;
  font-size: 1.4em;
  font-weight: 400;
  font-family: 'FontAwesome';
  transform: rotate3d(0, 0, 1, -180deg);
  transition: content 0.4s, transform 0.4s, opacity 0.2s;
}
.actionButton:after {
  content: '\f067';
  color: #FFF;
  position: absolute;
  margin-top: .6em;
  margin-left: -0.4em;
  font-size: 1.4em;
  font-weight: 400;
  opacity: 0;
  font-family: 'FontAwesome';
  transform: rotate3d(0, 0, 1, -180deg);
  transition: content 0.4s, transform 0.4s, opacity 0.4s;
}
.actionButton.open::before {
  transform: rotate3d(0, 0, 1, 0deg);
  opacity: 0;
}
.actionButton.open::after {
  transform: rotate3d(0, 0, 1, 0deg);
  opacity: 1;
}
.actionButton:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.14), 0 8px 16px rgba(0, 0, 0, 0.28);
}

.subActionButton {
  background-color: #3F51B5;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-bottom: .6em;
  margin-left: .5em;
  opacity: 0;
  position: relative;
  z-index: 1000;
  cursor: pointer;
}
.subActionButton .floatingText {
  position: absolute;
  top: -.6em;
  right: 2.5em;
  min-width: 10em;
  font-family: 'Roboto';
  color: #FFF;
  text-align: right;
  opacity: 0;
  transition: opacity 0.4s;
}
.subActionButton .floatingText.show {
  opacity: 1;
}
.subActionButton .floatingTextBG {
  padding: 0.2em 0.5em;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: .3em;
}
.subActionButton.display {
  opacity: 1;
}
.subActionButton:before {
  margin-top: .35em;
  margin-left: .45em;
  font-size: 1.2em;
  font-family: 'FontAwesome';
  position: absolute;
  color: #FFF;
}
.subActionButton.person:before {
  content: '\f0c0';
  margin-top: .35em;
  margin-left: -0.5em;
}
.subActionButton.mapMarker:before {
  content: '\f041';
  margin-top: .35em;
  margin-left: -0.25em;
}
.subActionButton.conditionBuilder:before {
  content: "\f121";
  margin-top: .35em;
  margin-left: -0.5em;
}
.subActionButton.assetBuilder:before {
  content: "\f196";
  margin-top: .35em;
  margin-left: -0.38em;
}
.subActionButton.remove:before {
  content: "\f00d";
  margin-top: .3em;
  margin-left: -0.38em;
}
.subActionButton.experimentBuilder:before {
  content: "\f0c3";
  margin-top: .3em;
  margin-left: -0.45em;
}
.subActionButton.segmentBuilder:before {
  content: "\f0c0";
  margin-top: .35em;
  margin-left: -0.5em;
}
.subActionButton.segmentBuilder.hide {
  display: none;
}
.subActionButton.goalBuilder:before {
  content: "\f11e";
  margin-top: .35em;
  margin-left: -0.5em;
}
.subActionButton.goalBuilder.hide {
  display: none;
}
.subActionButton.note:before {
  content: '\f044';
  margin-top: .35em;
  margin-left: -0.3em;
}
.subActionButton:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.14), 0 8px 16px rgba(0, 0, 0, 0.28);
}
.webui-popover {
  z-index: 100000000 !important;
}
.ml_custom_toolbar_btn {
  background: #D32F2F !important;
  border-color: #D32F2F !important;
  color: #ffffff !important;
  font-size: 13px !important;
  font-family: sans-serif !important;
}
.guidelineBtn {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none!important;
  color: #fff;
  background-color: #155A3E;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 800;
  transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}
.guidelineBtn:hover {
  background-color: #ffffff;
  color: #73AD21;
  color: #4CAF50;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}
.webui-popover.pop .webui-popover-inner {
  padding: 10px 15px 0px 15px;
  border-bottom: 0px solid #f2f2f2;
}
.webui-popover.pop .webui-popover-title {
  border-bottom: 0px solid #f2f2f2;
}
.webui-popover.pop .webui-popover-content {
  padding: 0px 14px 14px 14px;
}
.varCountParentClass {
  position: absolute !important;
}

.webui-popover.pop,
.webui-popover.pop .webui-popover-title {
  background-color: #2AB27B !important;
}
.webui-popover.pop .webui-popover-title {
  font-size: 22px !important;
  color: white !important;
}
.webui-popover.pop p {
  color: white !important;
  margin: 0 0 8px 0px;
}

.webui-popover.pop.bottom > .webui-arrow:after,
.webui-popover.pop.bottom-right > .webui-arrow:after,
.webui-popover.pop.bottom-left > .webui-arrow:after{
  border-bottom-color: #2AB27B !important;
}
.webui-popover.pop.top > .webui-arrow:after,
.webui-popover.pop.top-right > .webui-arrow:after,
.webui-popover.pop.top-left > .webui-arrow:after {
  border-top-color: #2AB27B !important;
}
.webui-popover.pop.left > .webui-arrow:after,
.webui-popover.pop.left-top > .webui-arrow:after,
.webui-popover.pop.left-bottom > .webui-arrow:after{
  border-left-color: #2AB27B !important;
}
.webui-popover.pop.right > .webui-arrow:after,
.webui-popover.pop.right-top > .webui-arrow:after,
.webui-popover.pop.right-bottom > .webui-arrow:after{
  border-right-color: #2AB27B !important;
}
.webui-popover.pop .done-link {
  color: #155A3E;
  text-decoration: none;
  line-height: 1.8;
  font-family: 'PT Sans', Tahoma !important;
}
/*******Floating action buttons end******/

/* Placement window tooltip */
.tooltiptext, .tooltiptext-bottom{
  /*padding: 1px 5px 1px 5px;*/
  padding: 0px 5px 1px 5px;
  z-index:10000;
  font-size:13px;
  position:absolute;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius:4px;
  text-transform: lowercase;
}

.tooltiptext .arrow{
   content:"";
   width: 0;
   width: 0;
   height: 0;
   border-left: 7px solid transparent;
   border-right: 7px solid transparent;
   border-top: 7px solid black;
   position:absolute;
   bottom:-5px;
   left:7px;
}
.tooltiptext-bottom .arrow{
   content:"";
   width: 0;
   width: 0;
   height: 0;
   border-left: 7px solid transparent;
   border-right: 7px solid transparent;
   border-bottom: 7px solid black;
   position:absolute;
   bottom: 19px;
   left:7px;
}
