/* t3p_dynamic_content_placement/res/css/sass/style.scss */

.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0; 
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}
#lm-search-content {
	padding: 10px;
}
#lm-search-content h3 {
	font-size: 12px;
}
#lm-search-content td {
	padding-bottom: 2px;
	text-align: left;
}
#lm-search-content select {
	width: 120px;
}
#lm-search-content .x-form-field-wrap {
	float: left;
}
.table_date {
	border: #99bbe8 solid 2px;
	background-color: #ccd9e8;
	padding: 10px;
}


/* Nut top tap */

 .clear-line {
	clear: both;
	line-height: 0;
	height: 0;
} 

a.newsletter-tab1 {
    background: transparent url('/images/tab1_02.gif') no-repeat scroll top right;
    color: #444;
    float: left;
    font: bold 11px Sans-serif, Lucida Console;
    height: 26px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.newsletter-tab1 span {
    background: transparent url('/images/tab1_01.gif') no-repeat;
    display: block;
    line-height: 16px;
    padding: 5px 0 5px 18px;
} 


a.newsletter-tab2 {
    background: transparent url('/images/tab2_02.gif') no-repeat scroll top right;
    color: #5baaf5;
    float: left;
    font: bold 11px Sans-serif, Lucida Console;
    height: 26px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.newsletter-tab2 span {
    background: transparent url('/images/tab2_01.gif') no-repeat;
    display: block;
    line-height: 16px;
    padding: 5px 0 5px 18px;
} 

a.newsletter-tab2  span.new-symbol {
	background: transparent url('/images/new_sym.gif') no-repeat;
	float: left;
    line-height: auto;
    padding: 0 5px 0 0;
	width: 16px;
}

a.newsletter-tab2  span.delete-symbol {
	background: transparent url('/images/trash.gif') no-repeat;
	float: left;
    line-height: auto;
    padding: 0 5px 0 0;
	width: 16px;
}

a.newsletter-tab2  span.edit-symbol {
	background: transparent url('/images/pencil.gif') no-repeat;
	float: left;
    line-height: auto;
    padding: 0 5px 0 0;
	width: 16px;
}

.tree-button .x-btn-text{
    width: 32px !important;
}

.new-symbol1 {
	background-image:url("/images/folderADD.GIF") !important;
}

.delete-symbol1 {
	background-image:url('/images/folderDELETE.GIF') !important;
}

.edit-symbol1 {
	background-image:url('/images/folderEDIT.GIF') !important;
}

a.newsletter-tab2  span.job-symbol {
	background: transparent url('/images/job.gif') no-repeat;
	float: left;
    line-height: auto;
    padding: 0 5px 0 0;
	width: 16px;
}


a.newsletter-tab2  span.fieldmanage-symbol {
	background: transparent url('/images/notepad.gif') no-repeat;
	float: left;
    line-height: auto;
    padding: 0 5px 0 0;
	width: 16px;
}

a.newsletter-tab2  span.filltermanage-symbol {
	background: transparent url('/images/kwrite.gif') no-repeat;
	float: left;
    line-height: auto;
    padding: 0 5px 0 0;
	width: 16px;
}

#lm-management {
	text-align: left;
}

.mdc-placement-result{
	border: none;
	height: 100%;
	width: 100%;
} 


.weburl {
	padding-left: 20px;
	padding-right:  10px;
}
 
.sn-grid-status li{
	 float: left;
 
}

.sn-grid-status li.compose{
	padding-left: 5px; 
	color:#87B93C ;	
	font-weight: bold;
 
}


.x-grid3-hd-imformation{
    background:url("/images/info.GIF") no-repeat !important  ;
}

.x-grid3-td-imformation .x-grid3-hd-inner{ 
    margin-top: 0px;
    padding-top: 15px;
    margin-left: 3px;
}

.x-grid3-col-status  , .x-grid3-col-actions , .x-grid3-col-sn_action { 
    padding: 0 0 !important ;
}



.placement-active{
    width:  66px;
    height: 22px;
    background:url("/images/active.GIF") no-repeat  ;
}

.placement-active:hover{
    cursor: pointer;
    width:  66px;
    height: 22px;
    background:url("/images/active_hover.GIF") no-repeat  ;
}

.placement-inactive{
    width:  66px;
    height: 22px;
    background:url("/images/inactive.GIF") no-repeat  ;
}

.placement-inactive:hover{
    cursor: pointer;
    width:  66px;
    height: 22px;
    background:url("/images/inactive_hover.GIF") no-repeat  ;
}

.placement-property{
    width:  28px;
    height: 22px;
    background:url("/images/properties.GIF") no-repeat  ; 
}

.placement-property:hover{
    cursor: pointer;
   width:  28px;
    height: 22px;
    background:url("/images/properties_hover.GIF") no-repeat  ;
}

.placement-edit{
   width:  28px;
    height: 22px;
    background:url("/images/contentEDIT.gif") no-repeat  ; 
}

.placement-edit:hover{
    cursor: pointer;
   width:  28px;
    height: 22px;
    background:url("/images/contentEDIT_hover.gif") no-repeat  ; 
}

.placement-delete{
   width:  28px;
    height: 22px;
    background:url("/images/trash.gif") no-repeat  ; 
}

.placement-delete:hover{
    cursor: pointer;
   width:  28px;
    height: 22px;
    background:url("/images/trash_hover.GIF") no-repeat  ; 
}

.placement-placement{
   width:  28px;
    height: 22px;
    background:url("/images/placement.GIF") no-repeat  ; 
}

.placement-placement:hover{
    cursor: pointer;
   width:  28px;
    height: 22px;
    background:url("/images/placement_hover.GIF") no-repeat  ; 
}

.placement-content-preview{
    width:  28px;
    height: 22px;
    background:url("/images/preview.GIF") no-repeat  ; 
}

.placement-content-preview:hover{
    cursor: pointer;
   width:  28px;
    height: 22px;
    background:url("/images/preview_hover.GIF") no-repeat  ; 
}


.placement-condition-edit{
	width:  33px;
    height: 22px;
    background:url("/images/addcondition.gif") no-repeat  ; 
}

.placement-condition-edit:hover{
	cursor: pointer;
	width:  33px;
    height: 22px;
    background:url("/images/addcondition.gif") no-repeat  ; 
}


.newpage-icon{
    background:url("/images/newpage.gif") no-repeat  ; 
}

.placement-moveup{
	width:  16px;
    height: 16px;
    background:url("/images/Actions-arrow-up-icon.png") no-repeat  ;
    cursor: pointer;
}

.placement-movedown{
	width:  16px;
    height: 16px;
    background:url("/images/Actions-arrow-down-icon.png") no-repeat  ;
    cursor: pointer;
}

/* test bubble */

.test-bubble{
    font-family: 'PT Sans';
    font-size: 17px;
    
}

.test-bubble h1{
    font-size: 20px;
}

.test-bubble h2 , .test-bubble h1 , .test-bubble .h , .test-bubble a{
    
    color: rgb(34,65,134);
}

.test-bubble .y{
    color: rgb(255,154,3);
}

.test-bubble .b{
    font-weight: bold;
}

.test-bubble .i{
    font-style: italic;
}

.test-bubble .big{
    font-size: 23px;
}

.test-bubble .bullet{
    background-color:  rgb(24,65,139) ;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.test-bubble div.small{
    font-size: 14px;
}

.test-bubble div.small2{
    font-size: 10px;
}

.test-bubble .w_space35{
    line-height: 35px;
}

.test-bubble-0{
    background:url("/images/test_placement/bg_001.png") no-repeat ; 
    padding: 40px 90px 10px 55px;
}


.test-bubble-1{
    background:url("/images/test_placement/bg_002.png") no-repeat ; 
    padding: 25px 10px 10px 30px;
    z-index: 30000 !important;
}

.test-bubble-2{
    background:url("/images/test_placement/bg_003.png") no-repeat ; 
    padding: 25px 10px 10px 25px;
    z-index: 30000 !important;
}

.test-bubble-3{
    background:url("/images/test_placement/bg_004.png") no-repeat ; 
    padding: 25px 20px 10px 40px;
    z-index: 30000 !important;
}

.test-bubble-6{
    background:url("/images/test_placement/bg_005.png") no-repeat ; 
    padding: 35px 40px 10px 30px;
    z-index: 30000 !important;
}

.test-bubble-7{
    background:url("/images/test_placement/bg_006.png") no-repeat ; 
    padding: 25px 10px 10px 25px;
    z-index: 30000 !important;
}

.test-bubble-8{
    background:url("/images/test_placement/bg_007.png") no-repeat ; 
    padding: 30px 90px 10px 55px;
    text-align: center;
    z-index: 30000 !important;
}

.test-bubble-9{
    background:url("/images/test_placement/bg_008.png") no-repeat ; 
    padding: 20px 20px 20px 22px;
    text-align: center;
    z-index: 30000 !important;
}

.test-bubble-11{
    background:url("/images/test_placement/bg_010.png") no-repeat ; 
    padding: 25px 20px 10px 40px;
    z-index: 30000 !important;
}

.test-bubble-12{
    background:url("/images/test_placement/bg_011.png") no-repeat ; 
    padding: 25px 20px 10px 40px;
    z-index: 30000 !important;
}

.test-bubble-10{
    background:url("/images/test_placement/bg_009.png") no-repeat ; 
    padding: 20px 20px 20px 22px; 
    z-index: 30000 !important;
}

.test-bubble-10 h2{
    text-align: center;
    font-size: 22px;
}

.test-bubble-10 .s-header{
    font-weight: bold;
    margin-top: 20px;
}

.test-bubble-10 .s-header-1{
    color: rgb(255,165,0);
    font-size: 22px;
}

.test-bubble-10 .s-header-2{
    font-style: italic;
    font-size: 20px;
}

.test-bubble-10 #signup-background {
    border-radius: 10px 10px 10px 10px;
    width: 670px;
    height: 180px;
    margin-left: 50px;
    margin-top: 10px;
    background-image: url("http://www.monoloop.com/fileadmin/templates/image/monoloop-sf-bg.png"); 
}

.test-bubble-10 #signup-background .f1{
    float: left;
    width : 450px ;
} 

.test-bubble-10 #signup-background .f2{
    float: right;
    width : 200px ;
} 

.test-bubble-10 #monoloop-create-form2{
    padding : 20px ;
}

.test-bubble-10 #f2-desc{
    text-align: center;
}
.test-bubble-10 #f2-btn{
    background: url("/images/test_placement/signup-btn.png") no-repeat scroll 0 0 transparent;
    z-index: 10;
    border: none;
    width: 159px;
    height: 29px;
    
    margin-top: 15px;
    margin-left: 20px;
    
    cursor: pointer;
}

.test-bubble-10 .tick{
    background: url("/images/test_placement/tick.png") no-repeat scroll 0 0 transparent;
    width : 28px ; 
    height : 25px ; 
}

.test-bubble-10  .b1 {
    padding-left: 100px;
    float: left;
    width: 300px;
}

.test-bubble-10  .b2 { 
    float: right;
    width: 350px;
}

.test-bubble-10  .b1 div , .test-bubble-10  .b2 div{
    clear: left; 
    float: left;
}

.test-bubble-10  .error2{ 
    margin-left: 20px;
    width:  145px;
    height: 95px;  
    background-color: #FCD6CF;
    border: red 1px solid;
    padding: 5px;
    font-size: 10px;
    -moz-border-radius:5px;
  -webkit-border-radius:5px;
    border-radius: 5px; 
    overflow: hidden;
}

.test-bubble-10  .loading2{ 
    margin-top: 30px;
    margin-left: 80px;
    background: url('http://www.monoloop.com/fileadmin/templates/image/ajax-loader.gif') center no-repeat;
    width: 30px;
    height: 30px;
}
/* test bubble */

/* Asset Element */

.asset .topic{
    color: rgb(34,65,134) ; /*rgb(255,165,0);*/
    font-family: 'PT sans';
    font-size: 17px;
}

.asset .topic2{
    color: rgb(34,65,134) ; /*rgb(255,165,0);*/
    font-family: 'PT sans';
    font-size: 15px;
}

.asset .tiny-topic{
    color: rgb(34,65,134) ;  
    font-size: 10px;
}

.asset .b{
    color: rgb(34,65,134) ;  
}

.asset .y{
    color:rgb(255,165,0) ; 
}

.asset .unmapped{
    background: url("/images/asset-uncheck.png") no-repeat scroll 0 0 transparent;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.asset .mapped{
    background: url("/images/asset-check.png") no-repeat scroll 0 0 transparent;
    width: 17px;
    height: 15px;
    cursor: pointer;
}

.asset .stage3-arrow{
    position: absolute;
    background: url("/images/asset-arrow.png") no-repeat scroll 0 0 transparent;
    left : 220px ; 
    top : 30px ; 
    width: 67px;
    height : 62px ; 
}

.asset #grid{
    background: url("/images/asset-bg-4-1.png") no-repeat scroll 0 0 transparent;
    width: 98px;
    height: 80px;
}

.asset-top{ 
    background: url("/images/asset-bg-top.png") no-repeat scroll 0 0 transparent;
}

.asset-bottom{ 
    background: url("/images/asset-bg-bottom.png") no-repeat scroll 0 0 transparent;
}

.asset-stage-1-center{
    background-color:  rgb(229 , 235 , 243);
}

.asset-stage-2{
    background: url("/images/asset-bg-2.png") no-repeat scroll 0 0 transparent;
}

.asset-stage-3{
    background: url("/images/asset-bg-3.png") no-repeat scroll 0 0 transparent;
}

.asset-stage-4{
    background: url("/images/asset-bg-4.png") no-repeat scroll 0 0 transparent;
}

.dtb-main{ 
	margin: 5px 0 0 0;
    -moz-border-radius:5px;
  	-webkit-border-radius:5px;
    border-radius: 5px; 
    border: 1px solid rgb(184,197,219);
}

.dtb-main-bwrap{
	
}

.dtb-dimensions{ 
	margin: 5px 0 0 0; 
	border: 1px solid rgb(184,197,219);
    background:  rgb(229,229,229); 
}

.dtb-content{ 
	margin: 0 0 0 0;
    background: url("/images/dtb-content.png") no-repeat scroll 0 0 transparent; 
}

.dtb-styling{ 
	margin: 0 0 0 0;
    background: url("/images/dtb-styling.png") no-repeat scroll 0 0 transparent; 
}

.dtb-styling-bwrap{ 
}


.dtb-positioning{ 
	margin: 0 0 0 0;
    background: url("/images/dtb-positioning.png") no-repeat scroll 0 0 transparent; 
}

.dtb-positioning-bg{
	background: url("/images/dtb-positioning-bg.png") no-repeat scroll 0 0 transparent; 
	position: relative;
}

#dtb-pos-left , #dtb-pos-Left{
	background: url("/images/toolbar-left.png") no-repeat scroll 0 0 transparent; 
	width : 29px; 
	height : 91px ; 
	position: absolute;
	top: 10px;
	left: 0px;
}

#dtb-pos-left:hover , #dtb-pos-left.active , #dtb-pos-Left:hover , #dtb-pos-Left.active{
	background: url("/images/toolbar-left-active.png") no-repeat scroll 0 0 transparent; 
	cursor: pointer;
}

#dtb-pos-right , #dtb-pos-Right{
	background: url("/images/toolbar-right.png") no-repeat scroll 0 0 transparent; 
	width : 28px; 
	height : 91px ; 
	position: absolute;
	top: 10px;
	right: 0px;
}

#dtb-pos-right:hover , #dtb-pos-right.active , #dtb-pos-Right:hover , #dtb-pos-Right.active{
	background: url("/images/toolbar-right-active.png") no-repeat scroll 0 0 transparent;
	cursor: pointer; 
}

#dtb-pos-top , #dtb-pos-Top{
	background: url("/images/toolbar-top.png") no-repeat scroll 0 0 transparent; 
	width : 263px; 
	height : 27px ; 
	position: absolute;
	top: 9px;
	left: 0px;
}

#dtb-pos-top:hover , #dtb-pos-top.active , #dtb-pos-Top:hover , #dtb-pos-Top.active{
	background: url("/images/toolbar-top-active.png") no-repeat scroll 0 0 transparent; 
	cursor: pointer;
}

#dtb-pos-bottom , #dtb-pos-Bottom{
	background: url("/images/toolbar-bottom.png") no-repeat scroll 0 0 transparent; 
	width : 263px; 
	height : 27px ; 
	position: absolute;
	bottom: 4px;
	left: 0px;
}

#dtb-pos-bottom:hover , #dtb-pos-bottom.active , #dtb-pos-Bottom:hover , #dtb-pos-Bottom.active{
	background: url("/images/toolbar-bottom-active.png") no-repeat scroll 0 0 transparent; 
	cursor: pointer;
}

.dtb-actions{ 
	margin: 0 0 0 0;
    background: url("/images/dtb-actions.png") no-repeat scroll 0 0 transparent; 
}

.dtb2-main{ 
	margin: 5px 0 0 0;
    background: url("/images/dtb2-background.png") no-repeat scroll 0 0 transparent; 
}

.dtb2-dimensions{ 
	margin: 5px 0 0 0;
    background: url("/images/dtb2-dimensions.png") no-repeat scroll 0 0 transparent;
 
}

.dtb2-content{ 
	margin: 0 0 0 0;
    background: url("/images/dtb2-content.png") no-repeat scroll 0 0 transparent;
 
}

.dtb2-styling{ 
	margin: 0 0 0 0;
    background: url("/images/dtb2-styling.png") no-repeat scroll 0 0 transparent;
    
}


.dtb2-positioning{ 
	margin: 0 0 0 0;
    background: url("/images/dtb2-positioning.png") no-repeat scroll 0 0 transparent; 
}

.dtb2-actions{ 
	margin: 0 0 0 0;
    background: url("/images/dtb2-actions.png") no-repeat scroll 0 0 transparent; 
}

.dtb2-advance{ 
	margin: 2px 0 0 0;
    background: url("/images/dtb2-advance.png") no-repeat scroll 0 0 transparent; 
}

.toolbar-edit-btn{
	width: 16px;
	height: 16px;
	background: url("/images/edit2.png" ) no-repeat scroll 0 0 transparent;  
}

.sl-main-slider{ 
	margin: 5px 0 0 0;
    /*background: url("/images/slider-main-bg.png") no-repeat scroll 0 0 transparent;*/
    border: 1px solid rgb(137,160,196) ;
    -moz-border-radius:5px;
	border-radius: 5px;
}

.sl-main-slider2{ 
	margin: 5px 0 0 0;
    background: url("/images/slider-main-bg2.png") no-repeat scroll 0 0 transparent;
    
}

.sl-design-dimensions{ 
	margin: 5px 0 0 0;
    /*background: url("/images/slider_design_deminsion.png") no-repeat scroll 0 0 transparent; */
    background: rgb(229,229,229);
    border: 1px solid rgb(166,180,202);
}

.sl-design-content{ 
	margin: 0 0 0 0;
    /*background: url("/images/slider_design_content.png") no-repeat scroll 0 0 transparent; */
    background: rgb(229,229,229);
    border: 1px solid rgb(166,180,202);
}

.sl-design-styling{
	margin: 0 0 0 0;
    /*background: url("/images/slider_design_styling.png") no-repeat scroll 0 0 transparent;*/
	background: rgb(229,229,229);
    border: 1px solid rgb(166,180,202); 
}

.sl-design-positioning{
	margin: 0 0 0 0;
    /*background: url("/images/slider_design_positioning.png") no-repeat scroll 0 0 transparent; */
    background: rgb(229,229,229);
    border: 1px solid rgb(166,180,202);
}

.sl-design-position-select{
	margin: 10px 0 0 0;
	/*background: url("/images/slider_design_position_bg.png") no-repeat scroll 0 0 transparent; */
	background: rgb(229,229,229);
    border: 1px solid rgb(166,180,202);
	position: relative;
}

#slider-pos-left , #slider-pos-Left {
	background: url("/images/position-left.png") no-repeat scroll 0 0 transparent; 
	width : 43px; 
	height : 75px ; 
	position: absolute;
	top: 15px;
	left: 0px;
}

#slider-pos-left:hover , #slider-pos-left.active , #slider-pos-Left:hover , #slider-pos-Left.active  {
	background: url("/images/position-left-active.png") no-repeat scroll 0 0 transparent; 
	cursor: pointer;
}

#slider-pos-right , #slider-pos-Right {
	background: url("/images/position-right.png") no-repeat scroll 0 0 transparent; 
	width : 43px; 
	height : 75px ; 
	position: absolute;
	top: 15px;
	right: 0px;
}

#slider-pos-right:hover , #slider-pos-right.active , #slider-pos-Right:hover , #slider-pos-Right.active {
	background: url("/images/position-right-active.png") no-repeat scroll 0 0 transparent;
	cursor: pointer; 
}

#slider-pos-top , #slider-pos-Top {
	background: url("/images/position-top.png") no-repeat scroll 0 0 transparent; 
	width : 114px; 
	height : 34px ; 
	position: absolute;
	top: 9px;
	left: 75px;
}

#slider-pos-top:hover , #slider-pos-top.active , #slider-pos-Top:hover , #slider-pos-Top.active{
	background: url("/images/position-top-active.png") no-repeat scroll 0 0 transparent; 
	cursor: pointer;
}

#slider-pos-bottom , #slider-pos-Bottom{
	background: url("/images/position-bottom.png") no-repeat scroll 0 0 transparent; 
	width : 114px; 
	height : 33px ; 
	position: absolute;
	bottom: 0px;
	left: 75px;
}

#slider-pos-bottom:hover , #slider-pos-bottom.active , #slider-pos-Bottom:hover , #slider-pos-Bottom.active{
	background: url("/images/position-bottom-active.png") no-repeat scroll 0 0 transparent; 
	cursor: pointer;
}

.sl-design-positiontab{
	margin: 0 0 0 0;
    /*background: url("/images/slider_design_position_tab.png") no-repeat scroll 0 0 transparent; */
    background: rgb(229,229,229);
    border: 1px solid rgb(166,180,202);
}

.sl-design-actions{
	margin: 0 0 0 0;
    /*background: url("/images/slider_design_action.png") no-repeat scroll 0 0 transparent; */
    background: rgb(229,229,229);
    border: 1px solid rgb(166,180,202);
}

.sl-tab-dimensions{
	margin: 5px 0 0 0;
    background: url("/images/slider_tab_deminsion.png") no-repeat scroll 0 0 transparent; 
}

.sl-tab-content{
	margin: 0 0 0 0;
    background: url("/images/slider_tab_content.png") no-repeat scroll 0 0 transparent; 
}

.sl-tab-styling{
	margin: 0 0 0 0;
    background: url("/images/slider_tab_styling.png") no-repeat scroll 0 0 transparent; 
}


.zuper-wrapper{ 
	margin: 5px 0 0 0;
    background: url("/images/zuper/bg.png") no-repeat scroll 0 0 transparent;  
}

.zuper-panel2{
	background: rgb(214,214,214);
}

.zuper-panel{
	background: rgb(229,229,229);
	border-bottom: 1px solid rgb(183,183,183);
}

a.select-box{
	text-align: center;
	border: 1px solid orange;
	display: block;
	height: 20px;
	line-height: 20px;
	width: 90%;
 	padding: 1px;
 	text-decoration: none;
}

a.select-box.inactive{
	border: 1px solid grey;
}

span.select-box{
	border: 1px solid  orange;
	display: block;
	width: 98%;
	height: 18px;
	line-height: 18px;
	background: orange;
	color: white;
	text-decoration: none;
}

a.select-box.inactive span.select-box {
	border: 1px solid  grey;
	background: grey; 
}


